<div class="col-md-12 cont-header">
    <main class="col bg-faded py-3">
        <div class="row">
            <div class="col-md-6">
                <nav class="navbar navbar-expand-lg my-nav" style="width: fit-content;">
                    <div id="cir">
                        <img class="img-fluid brand-logo" src="/images/logo/digico.png" />
                    </div>
                    <ul class="navbar-nav mr-auto">
                        <%if(sdata['roleID'] == process.env['ROLE_ADMIN'] || sdata['roleID'] == process.env['ROLE_ADMIN_OPERATION'] 
                                || sdata['roleID'] == process.env['ROLE_CONSIGNEE'] || sdata['roleID'] == process.env['ROLE_CONSIGNEE_FORWARDER']){%>
                        <li class="nav-item">
                            <a class="nav-link text-templates" href="/dopayment/request/billoflading">Bill Of Lading</a>
                        </li>
                        <%}%>
                        <%if(sdata['roleID'] == process.env['ROLE_ADMIN'] || sdata['roleID'] == process.env['ROLE_ADMIN_OPERATION'] 
                            || sdata['roleID'] == process.env['ROLE_FORWARDER'] || sdata['roleID'] == process.env['ROLE_CONSIGNEE_FORWARDER']){%>
                        <li class="nav-item">
                            <a class="nav-link text-templates" href="/dopayment/requests/delivery">Delivery Order</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-templates" href="/dopayment/requests/view_list_payment">Payment</a>
                        </li>
                        <%}%>
                        <%if(sdata['roleID'] == process.env['ROLE_ADMIN'] || sdata['roleID'] == process.env['ROLE_ADMIN_OPERATION'] 
                            || sdata['roleID'] == process.env['ROLE_SHIPPING_LINE']){%>
                        <li class="nav-item">
                            <a class="nav-link text-templates" href="/dopayment/request/billpayment">Bill Payment</a>
                        </li>
                        <%}%>
                        <li class="nav-item">
                            <a class="nav-link text-templates" href="/dopayment/support/help">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-templates" href="/dopayment/support/form">Support</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group row">
                        <%if(sdata['roleID'] == process.env['ROLE_ADMIN'] || sdata['roleID'] == process.env['ROLE_ADMIN_OPERATION'] 
                            || sdata['roleID'] == process.env['ROLE_CONSIGNEE'] || sdata['roleID'] == process.env['ROLE_CONSIGNEE_FORWARDER']){%>
                        <div class="col-sm-2">
                            <button style="display: none;" id="bt_request" type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#RequestModal">Request</button>
                        </div>
                        <%}else {%>
                        <div class="col-sm-2">

                        </div>
                        <%}%>
                        <div class="col-sm-3">
                            <select class="form-control form-control-md search_for_bol" id="searchBy">
                                <option value="">Search By</option>
                                <option value="req_number">REQ NUMBER</option>
                                <option value="bl_number">BL NUMBER</option>
                                <option value="forwarder">FORWARDER</option>
                                <option value="shipping">SHIPPING LINE</option>
                                <option value="status">STATUS</option>
                            </select>

                            <select class="form-control form-control-md search_for_do" id="searchByDO">
                                <option value="">Search By</option>
                                <option value="req_number">REQ Number</option>
                                <option value="bl_number">BL Number</option>
                                <option value="cargo_owner">Cargo Owner</option>
                                <option value="shipping">Shipping Line</option>
                                <option value="no_do">No DO</option>
                                <!-- <option value="exp_do">Expired DO</option> -->
                                <option value="amount">Amount</option>
                                <option value="status">Status</option>
                                <option value="bank">Bank</option>
                                <option value="kd_byr">Kode Bayar</option>
                            </select>

                            <select class="form-control form-control-md search_for_empty" id="searchEmpty">
                                <option value="">Search By</option>
                            </select>

                            <select class="form-control form-control-md search_for_bill_select" id="searchBybill">
                                <option value="">Search By</option>
                                <option value="req_number">REQ Number</option>
                                <option value="bl_number">BL Number</option>
                                <option value="cargo_owner">Cargo Owner</option>
                                <option value="shipping">Forwarder</option>
                                <option value="no_do">No DO</option>
                                <!-- <option value="exp_do">Expired DO</option> -->
                                <option value="amount">Amount</option>
                                <option value="status">Status</option>
                                <option value="bank">Bank</option>
                                <option value="kd_byr">Payment Code</option>
                                <!-- <option value="date">Date</option> -->
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" class="form-control form-control-md search" id="searchFor" placeholder="Search For">
                            <input type="text" autocomplete="off" name="searchFor"
                            class="form-control form-control-md datepicker-exp"
                            id="searchFor" placeholder="Enter Expired Date">
                        </div>
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-danger" onclick="Search()">Submit</button>
                        </div>
                        <div class="col-sm-2">
                            <div class="dropdown">
                                <button class="btn btn-circle-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-user user-icon"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/logout/action">Sign Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

<!-- Modal Reguest-->
<div class="modal fade" id="RequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Request</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form action='/request/submit' method="POST" id="form-request" enctype="multipart/form-data">
                    <div class="form-group row">
                        <label for="ForBLNumber" class="col-sm-2 col-form-label">BL Number *</label>
                        <div class="col-sm-6">
                            <input type="text" name="bl_number" class="form-control col-form-label-sm" id="bl_number" placeholder="BL Number">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ForWarDer" class="col-sm-2 col-form-label">Forwarder *</label>
                        <div class="col-sm-6">
                            <!-- <input type="text" class="form-control col-form-label-sm" id="forwarder" placeholder="Forwarder"> -->
                            <select name="id_forwarder" id="forwarder">
                            </select>
                            <input type="hidden" name="name_forwarder" id="forwarder_input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ForWarDer" class="col-sm-2 col-form-label">Shipping *</label>
                        <div class="col-sm-6">
                            <select class="js-example-basic-single" name="id_shipping" id="shipping">
                                <option value="">Shipping</option>
                            </select>
                            <input type="hidden" name="name_shipping" id="shipping_input">
                        </div>
                    </div>
                    <div id="div-container">
                        <div class="form-group row">
                            <label for="ForContainer" class="col-sm-2 col-form-label">No. Container</label>
                            <div class="col-sm-6">
                                <input type="text" name="cont_no" class="form-control col-form-label-sm" id="no_container" placeholder="No Container">
                            </div>
                            <div class="col-sm-1">
                                <button id="btnAddContainer" type="button" class="btn btn-primary btn-sm">Add</button>
                            </div>
                            <div class="col-sm-2">
                                <input type="hidden" id="count" name="count" value="0">
                            </div>
                        </div>
                    </div>
                    <div id="div-uploadfile">
                        <div class="form-group row">
                            <!-- <div class="col-sm-2"> -->
                                <input type="hidden" id="count_file" name="count_file" value="0">
                            <!-- </div> -->
                            <label for="Forfile" class="col-sm-2 col-form-label">Upload File</label>
                            <div class="col-sm-6">
                                <input  id="files" type="file" name="files">
                            </div>
                            <div class="col-sm-1">
                                <button id="btnUploadFiles" type="button" class="btn btn-primary btn-sm">Add</button>
                            </div>
                        </div>
                    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="submit_form()">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  <!-- modal confirm -->
  <div class="modal fade" id="ConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Are you sure will make a DO request with the following details?</label>
                    </div>
                    <div class="form-group row">
                        <label for="ForBLNumber" class="col-sm-3 col-form-label">BL Number</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control col-form-label-sm" id="bl_number_conf" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ForWarDer" class="col-sm-3 col-form-label">Freight Forwarder</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control col-form-label-sm" id="forwarder_conf" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="ForWarDer" class="col-sm-3 col-form-label">Shipping Line</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control col-form-label-sm" id="shipping_conf" readonly>
                        </div>
                    </div>
                    <div id="div-container-conf">
                        <div class="form-group row">
                            <label for="ForContainer" class="col-sm-3 col-form-label">No. Container</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control col-form-label-sm" id="no_container_conf" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Click "Yes" to continue the process or "No" to correct BL, FF, SL and Container number</label>
                    </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="submit_form_conf()">Yes</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
        </div>
    </form>
      </div>
    </div>
  </div>
  <script>
    $('.datepicker-exp').hide();
    $(document).ready(function(){
        // $(".dropdown-toggle").dropdown();
        $("#dropdownMenuButton").dropdown();
    });
    $(function(){
       $('#forwarder').select2({
           minimumInputLength: 3,
           allowClear: true,
           placeholder: 'Forwarder',
           width: '100%',
           ajax: {
              dataType: 'json',
              type: "POST",
              url: '/companies/forwarder',
              delay: 800,
              data: function(params) {
                return {
                  Search: params.term
                }
              },
              processResults: function (data, params) {
                    return {
                        results: $.map(data, function (item) {
                            console.log(item);
                            return {
                                text: item.name,
                                name: item.name,
                                id: item.id
                            }
                        }),
                    };
                },
          }
      }).on('select2:select', function (evt) {
          $('#forwarder_input').val(evt.params.data.name);
      });
      $('#shipping').select2({
           minimumInputLength: 3,
           allowClear: true,
           placeholder: 'Shipping',
           width: '100%',
           ajax: {
              dataType: 'json',
              type: "POST",
              url: '/companies/shipping',
              delay: 800,
              data: function(params) {
                return {
                  Search: params.term
                }
              },
              processResults: function (data, params) {
                    return {
                        results: $.map(data, function (item) {
                            console.log(item);
                            return {
                                text: item.name,
                                name: item.name,
                                id: item.id
                            }
                        }),
                    };
                },
          }
      }).on('select2:select', function (evt) {
          $('#shipping_input').val(evt.params.data.name);
      });
 });
    $('#RequestModal').on('shown.bs.modal', function () {
        // $('#myInput').trigger('focus')
    })
        $('#shipping').select2({ width: '100%',placeholder: "Shipping"});
        function formatState (state) {
            console.log(state);
            if (!state.id) {
            return state.text;
            }
            var baseUrl = "admin/images/flags";
            var $state = $(
            '<span>' +state.text+ '</span>'
            );
            return $state;
        };
        $("#btnAddContainer").click(function () {
                var count = parseInt($('#count').val());
                var count_index = count + 1;
                console.log(count_index);
                var input_cont = '<div class="form-group row" id="div-row-cont-'+count_index+'">'+
                        '<label for="ForContainer" class="col-sm-2 col-form-label">No. Container</label>'+
                        '<div class="col-sm-6">'+
                            '<input type="text" name="cont_no'+count_index+'" class="form-control col-form-label-sm" id="no_container_add-'+count_index+'" placeholder="No Container">'+
                        '</div>'+
                        '<div class="col-sm-2">'+
                            '<button id="btnDeleteContainer" type="button" class="btn btn-danger btn-sm" onclick=\'removeRow_container("'+count_index+'")\'>Delete</button>'+
                        '</div>'+
                        '</div>';
                $('#div-container').append(input_cont);
                $('#count').val(count+1);
                console.log('count container');
                console.log(parseInt($('#count').val()));

                // declaration install input filter only text and number
                var id_container_new = 'no_container_add-'+count_index;
                setInputFilter(document.getElementById(id_container_new), function(value) {
                    return /^[0-9a-z]*$/i.test(value);
                });
        });
        function removeRow_container(id){
            swal({
                title: "Are you sure?",
                text: "Your will delete this container number!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
                },
                function(){
                swal("Deleted!", "Your Container Number has been deleted.", "success");
                $('#div-row-cont-'+id).remove();
            });
            var cd = parseInt($('#count').val());
            $('#count').val(cd-1);
            console.log('count container');
            console.log(parseInt($('#count').val()));
        }
        $('#btnUploadFiles').click(function(){
            var count_file = parseInt($('#count_file').val());
            var count_index = count_file + 1;
                var input_file = '<div class="form-group row" id="div-row-file-'+count_index+'">'+
                        '<label for="ForContainer" class="col-sm-2 col-form-label">Upload File</label>'+
                        '<div class="col-sm-6">'+
                            '<input  id="files'+count_index+'" type="file" name="files'+count_index+'">'+
                        '</div>'+
                        '<div class="col-sm-2">'+
                            '<button id="btnDeleteUploadFile" type="button" class="btn btn-danger btn-sm" onclick=\'removeRow_file("'+count_index+'")\'>Delete</button>'+
                        '</div>'+
                    '</div>';
                $('#div-uploadfile').append(input_file);
                $('#count_file').val(count_file+1);
            });
            function removeRow_file(id){
            swal({
                title: "Are you sure?",
                text: "Your will delete this upload file!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
                },
                function(){
                swal("Deleted!", "Your Upload File has been deleted.", "success");
                $('#div-row-file-'+id).remove();
            });
            var cd = parseInt($('#count_file').val());
            $('#count_file').val(cd-1);
        }
        function submit_form(){
            var count_cont = $('#count').val();
            var count_file = $('#count_file').val();
            console.log('count container ' + count_cont);
            console.log('count file ' + count_file);
            // if(count_cont != count_file){
            //     swal("Input container and upload file not same count row !");
            //     return false;
            // }
            var bl_number = $('#bl_number').val();
            var forwarder = $('#forwarder').val();
            var forwarder_name = $('#forwarder_input').val();
            var shipping  = $('#shipping').val();
            var shipping_name = $('#shipping_input').val();
            var cont_no   = $('#no_container').val();
            var files     = $('#files').val();
            console.log(files)
            if(bl_number == '' || forwarder == '' || shipping == '' || files == '' ){
                swal("Don't leave empty input!");
                return false;
            }
            for(let i = 1; i <= count_cont.length; i++){
                console.log('masuk loop container');
                var cont_no_cek = $('#no_container_add-'+i+'').val();
                if(cont_no_cek == ''){
                    swal("Don't leave empty input!");
                    return false;
                }
            }

            for(let i = 1; i <= count_file.length; i++){
                console.log('masuk loop file');
                var files_cek = $('#files'+i+'').val();
                console.log(files_cek)
                if(files_cek == ''){
                    swal("Don't leave empty input!");
                    return false;
                }
            }
            $('#ConfirmModal').modal('show');
            $('#bl_number_conf').val(bl_number);
            $('#forwarder_conf').val(forwarder_name);
            $('#shipping_conf').val(shipping_name);
            $('#no_container_conf').val(cont_no);
            console.log(count_cont);
            if(count_cont >= 1){
                var index = 1;
                for (index; index <= count_cont; index++) {
                    console.log(index);
                    var input_cont = '<div class="form-group row conf" id="div-row-cont-'+index+'">'+
                        '<label for="ForContainer" class="col-sm-3 col-form-label">No. Container</label>'+
                        '<div class="col-sm-6">'+
                            '<input type="text" class="form-control col-form-label-sm" id="no_container_conf'+index+'" readonly>'+
                        '</div>'+
                            '</div>';
                    $('#div-container-conf').append(input_cont);
                    var a = $('#no_container_add-'+index+'').val();
                    console.log('container loop confirm')
                    console.log(a);
                    $('#no_container_conf'+index+'').val(a);
                }                
            }
        }
        function submit_form_conf(){
            document.getElementById("form-request").submit();
        }
        $('#ConfirmModal').on('hidden.bs.modal', function () {
            $('.conf').remove();
        })

        function Search(){
            var menu = "<%=menu%>";
            var searchFor = $('#searchFor').val();
            var searchBy  = $('#searchBy').val();
            var searchByDO =  $('#searchByDO').val();
            var searchBybill = $('#searchBybill').val();

            console.log('menu ' + menu);

            if(menu == '<%=process.env['MENU_BOL']%>'){
                if(searchFor == '' || searchBy == ''){
                    swal("Don't leave empty input !");
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/dopayment/request/billoflading_search_list",
                    dataType: "json",
                    data: {searchBy: searchBy, searchFor: searchFor},
                    cache: false,
                    success: function(result){
                        console.log(result.data);
                        $('#billoflading').DataTable().clear().destroy();
                        $('#billoflading').DataTable({
                                "dom": "Bfrtip",
                                scrollX: true,
                                data: result.data,
                                buttons: [
                                    {
                                        extend: 'excel',
                                        className: "btn-sm btn-success",
                                        text: '<span class="fa fa-file-excel"></span> Export Excel',
                                        filename: 'BILL OF LADING REPORT',
                                        title: 'BILL OF LADING REPORT',
                                        exportOptions: {
                                            columns: [ 0, 1, 2, 3, 4, 5, 6],
                                            modifier: {
                                                page: 'all'
                                            }
                                        }
                                    },
                                    {
                                        extend: 'pdf',
                                        orientation: 'landscape',
                                        className: "btn-sm btn-danger ml-2",
                                        text: '<span class="fa fa-file-pdf"></span> Export Pdf',
                                        filename: 'BILL OF LADING REPORT',
                                        title: 'BILL OF LADING REPORT',
                                        exportOptions: {
                                            columns: [ 0, 1, 2, 3, 4, 5, 6],
                                            modifier: {
                                                page: 'all'
                                            }
                                        }
                                    }
                                ],
                                columns: [
                                    {
                                        data: null,
                                        render: function (data, type, row, meta) {
                                            return meta.row + meta.settings._iDisplayStart + 1;
                                        }, className: "text-center"
                                    },
                                    { data: "reqnum" },
                                    { data: "blnum" },
                                    { data: "ffname" },
                                    { data: "slname" },
                                    { data : "status",
                                        "render": function(data, type, row, meta){
                                            if (row.status == 'CLSE') {
                                                d = '<h5><span class="badge badge-danger">'+row.status_desc+'</span></h5>';
                                            }  
                                            if (row.status == 'RQST') {
                                                d = '<h5><span class="badge badge-warning">'+row.status_desc+'</span></h5>';
                                            } 
                                            if (row.status == 'BILL') {
                                                d = '<h5><span class="badge badge-primary">'+row.status_desc+'</span></h5>';
                                            } 
                                            if(row.status == 'PNDG')  {
                                                d = '<h5><span class="badge badge-success">'+row.status_desc+'</span></h5>';
                                            }
                                            if(row.status == 'RJCT') {
                                                d = '<h5><span class="badge badge-secondary">'+row.status_desc+'</span></h5>';
                                            }
                                            if(row.status == 'RJCS') {
                                                d = '<h5><span class="badge badge-secondary">'+row.status_desc+'</span></h5>';
                                            }
                                            if(row.status == 'PAID') {
                                                d = '<h5><span class="badge badge-primary">'+row.status_desc+'</span></h5>';
                                            }                   
                                            return d;
                                        }, className: "text-center"
                                    },
                                    { data: "create_date" },
                                    { data: "id",
                                        "render": function (data, type, row, meta) {
                                            data = '<button type="button" onclick="view(' + row.id + ')" class="btn btn-info btn-sm">View</button> <span></span>'
                                            return data;
                                        }, className: "text-center"},
                                ]
                            });
                    }
                });
            } else if(menu == '<%=process.env['MENU_BILL']%>') {
                if(searchFor == '' || searchBybill == ''){
                    swal("Don't leave empty input !");
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/dopayment/request/searchListbill",
                    dataType: "json",
                    data: {searchBybill: searchBybill, searchFor: searchFor},
                    cache: false,
                    success: function(result){
                        console.log(result.data);
                        $('#BillPayment').DataTable().clear().destroy();
                        $('#BillPayment').DataTable({
                            "dom": "Bfrtip",
                            scrollX: true,
                            data: result.data,
                            buttons: [
                                {
                                    extend: 'excel',
                                    className: "btn-sm btn-success",
                                    text: '<span class="fa fa-file-excel"></span> Export Excel',
                                    filename: 'BILL PAYMENT REPORT',
                                    title: 'BILL PAYMENT REPORT',
                                    exportOptions: {
                                        columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                                        modifier: {
                                            page: 'all'
                                        }
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    orientation: 'landscape',
                                    className: "btn-sm btn-danger ml-2",
                                    text: '<span class="fa fa-file-pdf"></span> Export Pdf',
                                    filename: 'BILL PAYMENT REPORT',
                                    title: 'BILL PAYMENT REPORT',
                                    exportOptions: {
                                        columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                                        modifier: {
                                            page: 'all'
                                        }
                                    }
                                }
                            ],
                            columns: [
            {
                data: null,
                render: function (data, type, row, meta) {
                    return meta.row + meta.settings._iDisplayStart + 1;
                }, className: "text-center"
            },
            { data: "reqnum" },
            { data: "blnum" },
            { data: "comp_name" },
            { data: "ffname" },
            { data: "donum"},
            { data: "due_date"},
            // { data: "total"},
            { data: "total",
              render: $.fn.dataTable.render.number( ',', '.', 2 )
            },
            { data : "status",
                "render": function(data, type, row, meta){
                    if (row.status == 'CLSE') {
                        d = '<h5><span class="badge badge-danger">'+row.status_desc+'</span></h5>';
                    }  
                    if (row.status == 'RQST') {
                        d = '<h5><span class="badge badge-warning">'+row.status_desc+'</span></h5>';
                    } 
                    if (row.status == 'BILL') {
                        d = '<h5><span class="badge badge-primary">'+row.status_desc+'</span></h5>';
                    } 
                    if(row.status == 'PNDG')  {
                        d = '<h5><span class="badge badge-success">'+row.status_desc+'</span></h5>';
                    }
                    if(row.status == 'RJCT') {
                        d = '<h5><span class="badge badge-secondary">'+row.status_desc+'</span></h5>';
                    }
                    if(row.status == 'RJCS') {
                        d = '<h5><span class="badge badge-secondary">'+row.status_desc+'</span></h5>';
                    }
                    if(row.status == 'PAID') {
                        d = '<h5><span class="badge badge-primary">'+row.status_desc+'</span></h5>';
                    }                   
                    return d;
                }, className: "text-center"
            },
            { data: "name" },
            { data: "payment_code" },
            { data: "create_date" },
            { data: "id",
                "render": function (data, type, row, meta) {
                    data = '<button type="button" onclick="view(' + row.id + ')" class="btn btn-info btn-sm">View</button> <span></span>'
                    return data;
                }, className: "text-center"},
        ]
                        });
                    }
                });
            } else if(menu == '<%=process.env['MENU_DO']%>') {
                if(searchFor == '' || searchByDO == ''){
                    swal("Don't leave empty input !");
                    return false;
                }
                $.ajax({
                    type: "POST",
                    url: "/dopayment/requests/searchListDeliveryOrder",
                    dataType: "json",
                    data: {searchByDO: searchByDO, searchFor: searchFor},
                    cache: false,
                    success: function(result){
                        console.log(result.data);
                        $('#tbl_do').DataTable().clear().destroy();
                        $('#tbl_do').DataTable({
                            "dom": "Bfrtip",
                            scrollX: true,
                            data: result.data,
                            buttons: [
                                {
                                    extend: 'excel',
                                    className: "btn-sm btn-success",
                                    text: '<span class="fa fa-file-excel"></span> Export Excel',
                                    filename: 'DELIVERY ORDER REPORT',
                                    title: 'DELIVERY ORDER REPORT',
                                    exportOptions: {
                                        columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                                        modifier: {
                                            page: 'all'
                                        }
                                    }
                                },
                                {
                                    extend: 'pdf',
                                    orientation: 'landscape',
                                    className: "btn-sm btn-danger ml-2",
                                    text: '<span class="fa fa-file-pdf"></span> Export Pdf',
                                    filename: 'DELIVERY ORDER REPORT',
                                    title: 'DELIVERY ORDER REPORT',
                                    exportOptions: {
                                        columns: [ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11],
                                        modifier: {
                                            page: 'all'
                                        }
                                    }
                                }
                            ],
                            columns: [
                                {
                                    data: null,
                                    render: function (data, type, row, meta) {
                                        return meta.row + meta.settings._iDisplayStart + 1;
                                    }, className: "text-center"
                                },
                                { data: "reqnum" },
                                { data: "blnum" },
                                { data: "ffname" },
                                { data: "slname" },
                                { data: "donum" },
                                { data: "due_date" },
                                // { data: "total" },
                                { data: "total",
                                    render: $.fn.dataTable.render.number( ',', '.', 2 )
                                },
                                { data : "status",
                                    "render": function(data, type, row, meta){
                                        if (row.status == 'CLSE') {
                                            d = '<h5><span class="badge badge-danger">'+row.status_desc+'</span></h5>';
                                        }  
                                        if (row.status == 'RQST') {
                                            d = '<h5><span class="badge badge-warning">'+row.status_desc+'</span></h5>';
                                        } 
                                        if (row.status == 'BILL') {
                                            d = '<h5><span class="badge badge-primary">'+row.status_desc+'</span></h5>';
                                        } 
                                        if(row.status == 'PNDG')  {
                                            d = '<h5><span class="badge badge-success">'+row.status_desc+'</span></h5>';
                                        }
                                        if(row.status == 'RJCT') {
                                            d = '<h5><span class="badge badge-secondary">'+row.status_desc+'</span></h5>';
                                        }
                                        if(row.status == 'RJCS') {
                                            d = '<h5><span class="badge badge-secondary">'+row.status_desc+'</span></h5>';
                                        }
                                        if(row.status == 'PAID') {
                                            d = '<h5><span class="badge badge-primary">'+row.status_desc+'</span></h5>';
                                        }                   
                                        return d;
                                    }, className: "text-center"
                                },
                                { data: "name" },
                                { data: "payment_code" },
                                { data: "create_date" },
                                { data: "id_req",
                                    "render": function (data, type, row, meta) {
                                        data = '<button type="button" onclick="view(' + row.id_req + ')" class="btn btn-info btn-sm">View</button> <span></span>'
                                        return data;
                                    }, className: "text-center"},
                            ]
                        });
                    }
                });
            }
        }

        $('.datepicker-exp').datepicker({
            format: "dd-mm-yyyy",
            autoclose: true
        });
        
        $('#searchByDO').on('change', function() {
            if(this.value === 'exp_do'){
                $('.datepicker-exp').show(); 
                $('.search').hide(); 
            }else{
                $('.datepicker-exp').hide(); 
                $('.search').show(); 
            }   
        });

        var pathname = window.location.pathname;
        if(pathname === '/dopayment/request/billoflading'){
            $('.search_for_bol').show();
            $('.search_for_do').hide();
            $('.search_for_empty').hide();
            $('.search_for_bill_select').hide();
            $('.search_for_bill').hide();
            $('#bt_request').show();
        }
        else if(pathname === '/dopayment/requests/delivery'){
            $('.search_for_bol').hide();
            $('.search_for_do').show();
            $('.search_for_empty').hide();
            $('.search_for_bill_select').hide();
            $('.search_for_bill').hide();
        }else if(pathname === '/dopayment/request/billpayment'){
            $('.search_for_bol').hide();
            $('.search_for_do').hide();
            $('.search_for_empty').hide();
            $('.search_for_bill_select').show();
            $('.search_for_bill').show();
        }else {
            $('.search_for_bol').hide();
            $('.search_for_do').hide();
            $('.search_for_empty').show();
            $('.search_for_bill_select').hide();
            $('.search_for_bill').hide();
        }
        // if(pathname === '/dopayment/support/form'){
        //     $('.search_for_bol').hide();
        //     $('.search_for_do').hide();
        //     $('.search_for_empty').show();
        // }
        // if(pathname === '/dopayment/support/help'){
        //     $('.search_for_bol').hide();
        //     $('.search_for_do').hide();
        //     $('.search_for_empty').show();
        // }

        // function install input filter only text and number
        function setInputFilter(textbox, inputFilter) {
            ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
                textbox.addEventListener(event, function() {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
                });
            });
        }

        // declaration install input filter only text and number
        setInputFilter(document.getElementById("bl_number"), function(value) {
            return /^[0-9a-z]*$/i.test(value);
        });
        setInputFilter(document.getElementById("no_container"), function(value) {
            return /^[0-9a-z]*$/i.test(value);
        });

  </script>