<div class="container-fluid cont-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center" style="margin-top: 40px;">
                <h6 style="color: #BC011E">BILL OF LADING</h6>    
            </div>
            <!-- View Of Request-->
            <div class="card" style="margin-top: 20px;">
                <div class="card-header" style="background-color: #BC011E;color: white;">
                    <i class="fa fa-file-alt"></i><strong> VIEW OF REQUEST</strong>
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Freight Forwarder</label>
                                <div class="col-sm-7">
                                    <input type="text" value="<%=data[0].ffname%>" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Number Request</label>
                                <div class="col-sm-7">
                                    <input type="text" value="<%=data[0].reqnum%>" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Number DO</label>
                                <div class="col-sm-7">
                                    <input type="text" value="<%=data[0].donum%>" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Shipping Line</label>
                                <div class="col-sm-7">
                                    <input type="text" value="<%=data[0].slname%>" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Number BL</label>
                                <div class="col-sm-7">
                                    <input type="text" value="<%=data[0].blnum%>" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Expired DO</label>
                                <div class="col-sm-7">
                                    <input type="text" value="<%=data[0].duedate%>" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- View Of Detail Container-->
            <div class="card" style="margin-top: 20px;">
                <div class="card-header" style="background-color: #BC011E;color: white;">
                    <i class="fa fa-file-alt"></i><strong> VIEW OF DETAIL CONTAINER</strong>
                </div>
                <div class="card-body"> 
                    <div class="row mb-3">
                        <button type="button" id="addContainer" class="btn btn-success btn-sm" onclick="add('<%=data[0].req_sl_delivery_id%>')">Add</button>
                        <a class="btn btn-primary btn-sm ml-2" href="/dopayment/request/billoflading">Back</a>
                    </div>
                    <div class="row">
                        <table id="detail_container_del" class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No Container</th>
                                    <th>Tools</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(let i = 0; i < data_container.length; i++){%>
                                    <tr>
                                        <td><%=data_container[i].no_container%></td>
                                        <td>
                                            <%if(data[0].status_do === 'PNDG'){%>
                                                <button  type="button" class="btn btn-warning btn-sm" onclick="edit('<%=data_container[i].id%>', '<%=data_container[i].delivery_id%>','<%=data_container[i].no_container%>')">Edit</button>
                                                <button type="button" class="btn btn-danger btn-sm" onclick="delete_cont('<%=data_container[i].id%>')">Delete</button>
                                            <%}else {%>
                                                <button disabled type="button" class="btn btn-warning btn-sm" onclick="edit('<%=data_container[i].id%>', '<%=data_container[i].delivery_id%>','<%=data_container[i].no_container%>')">Edit</button>
                                                <button disabled type="button" class="btn btn-danger btn-sm" onclick="delete_cont('<%=data_container[i].id%>')">Delete</button>
                                            <%}%>
                                        </td>
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
              <!-- View Of Detail Files-->
            <div class="card" style="margin-top: 20px;">
                <div class="card-header" style="background-color: #BC011E;color: white;">
                    <i class="fa fa-file-alt"></i><strong> VIEW OF DETAIL FILES</strong>
                </div>
                <div class="card-body"> 
                    <table id="detail_files" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Tools</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(let i = 0; i < data_files.length; i++){%>
                                <tr>
                                    <td><%=data_files[i].file_name%></td>
                                    <!-- <td><button type="button" class="btn btn-danger btn-sm" onclick="Download('<%=data_files[i].id%>')">Download</button></td> -->
                                    <td><a class="btn btn-danger btn-sm" href="/file/<%=data_files[i].file_name%>">Download</a></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-add" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Add Container</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action='' method="POST" id="add_container" enctype="multipart/form-data">
                <input type="hidden" name="id_req" id="id_req">
                <div id="div-container-req">
                    <div class="form-group row">
                        <label for="ForContainer" class="col-sm-4 col-form-label">No. Container</label>
                        <div class="col-sm-6">
                            <input type="text" name="cont_no" class="form-control col-form-label-sm" id="no_container_bol" placeholder="No Container">
                        </div>
                        <div class="col-sm-1">
                            <button id="btnAddContainer_req" type="button" class="btn btn-primary btn-sm">Add</button>
                        </div>
                        <div class="col-sm-2">
                            <input type="hidden" id="count_req" name="count_req" value="1">
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="submit_add()" >Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </form>
    </div>
    </div>
  </div>
  <div class="modal fade" id="modal-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Edit Container</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form action='' method="POST" id="edit_container">
                <input type="hidden" name="id" id="id">
                <input type="hidden" name="delivery_id" id="delivery_id">
                <div id="div-container-req">
                    <div class="form-group row">
                        <label for="ForContainer" class="col-sm-4 col-form-label">No. Container</label>
                        <div class="col-sm-6">
                            <input type="hidden" name="container_before" id="container_before">
                            <input type="text" name="container_after" class="form-control col-form-label-sm" id="container_after">
                        </div>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" onclick="submit_edit()" >Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </form>
    </div>
    </div>
  </div>
<script>
    var status_payment = '<%=data[0].tag%>';
    var statusDo = '<%=data[0].status_do%>';
    console.log("status_payment");
    console.log(status_payment);
    console.log(statusDo);

    if(statusDo === 'PNDG'){
        $('#addContainer').prop('disabled', false);
    }else {
        $('#addContainer').prop('disabled', true);
    }


    function Download(id) {
            var url = '/dopayment/request/billoflading_download';
            var postFormStr = "<form class='form-horizontal' method='post' action='" + url + "' target='_blank'>\n";
            postFormStr += "<input type='hidden' name='id' value='" + id + "'></input>";
            postFormStr += "<input type='hidden' name='action' value='view'></input>";
            postFormStr += "</form>";
            var formElement = $(postFormStr);
            $('body').append(formElement);
            $(formElement).submit();
    }
    function add(req_sl_id){
        $('#modal-add').modal('show');
        $('#id_req').val(req_sl_id);
    }
    function edit(id, delivery_id, no_container){
        console.log(no_container);
        console.log(id);
        $('#modal-edit').modal('show');
        $('#id').val(id);
        $('#delivery_id').val(delivery_id);
        $('#container_before').val(no_container);
        $('#container_after').val(no_container);
    }
    $("#btnAddContainer_req").click(function () {
            var count = parseInt($('#count_req').val());
            var input_cont = '<div class="form-group row req" id="div-row-cont-'+count+'">'+
                    '<label for="ForContainer" class="col-sm-4 col-form-label">No. Container</label>'+
                    '<div class="col-sm-6">'+
                        '<input type="text" name="cont_no'+count+'" class="form-control col-form-label-sm" id="no_container_add-'+count+'" placeholder="No Container">'+
                    '</div>'+
                    '<div class="col-sm-1">'+
                        '<button id="btnDeleteContainer" type="button" class="btn btn-danger btn-sm" onclick=\'removeRow_container_req("'+count+'")\'>Delete</button>'+
                    '</div>'+
                    '</div>';
            $('#div-container-req').append(input_cont);
            $('#count_req').val(count+1);

            // declaration install input filter only text and number
            var id_container_new = 'no_container_add-'+count;
            
            setInputFilter(document.getElementById(id_container_new), function(value) {
                return /^[0-9a-z]*$/i.test(value);
            });
        
    });
    function removeRow_container_req(id){
        swal({
            title: "Are you sure?",
            text: "Your will delete this container number!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
            },
            function(){
            swal("Deleted!", "Your Container Number has been deleted.", "success");
            $('#div-row-cont-'+id).remove();
        });
        var cd = parseInt($('#count_req').val());
        $('#count_req').val(cd-1);
    }
    function submit_add(){
        swal({
            title: "Add Container",
            text: "Submit to Add Container",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
            }, function () {
        $.ajax({
        type: "POST",
        url: "/dopayment/request/billoflading_add_container",
        dataType: "json",
        data: $( "#add_container" ).serialize(),
        cache: false,
        success: function(result){
            console.log('result '+result.status);
            if(result.status == 'S'){
                setTimeout(function () {
                    swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                        function(){ 
                            location.reload();
                        }
                    );
                }, 3000);
                    
            }else{
                setTimeout(function () {
                        swal({title: "Failed", text: "Something Wrong", type: "error"},
                            function(){ 
                                location.reload();
                            }
                        );
                    }, 3000);
            }
        }
        });
    });
    }

    function submit_edit(){
    var id = $('#id').val();
    var delivery_id= $('#delivery_id').val();
    var container_before = $('#container_before').val();
    var container_after = $('#container_after').val();
        swal({
            title: "Edit Container Number",
            text: "Submit to Edit Container Number",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
            }, function () {
        $.ajax({
        type: "POST",
        url: "/dopayment/request/billoflading_edit_container",
        dataType: "json",
        data: {id: id, delivery_id: delivery_id, container_before: container_before, container_after: container_after},
        cache: false,
        success: function(result){
            console.log('result '+result.message);
            if(result.status == 'S'){
                    setTimeout(function () {
                        swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                            function(){ 
                                location.reload();
                            }
                        );
                    }, 3000);
                    
            }else{
                setTimeout(function () {
                    swal({title: "Done", text: "'"+result.message+"'", type: "error"},
                        function(){ 
                            location.reload();
                        }
                    );
                }, 3000);
        }
    }
        });
    });
    }
    function delete_cont(id){
        swal({
            title: "Delete Container",
            text: "Submit to Delete Container",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
            }, function () {
        $.ajax({
        type: "POST",
        url: "/dopayment/request/billoflading_del_container",
        dataType: "json",
        data: {id:id},
        cache: false,
        success: function(result){         
            if(result.status == 'S'){
                setTimeout(function () {
                    swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                        function(){ 
                            location.reload();
                        }
                    );
                }, 3000);
            }else{
                setTimeout(function () {
                        swal({title: "Failed", text: "Something wrong", type: "error"},
                            function(){ 
                                location.reload();
                            }
                        );
                    }, 3000);
            }
        
        }
    });
    });
    };
    $('#modal-add').on('hidden.bs.modal', function () {
        $('.conf').remove();
        $('.input').val('');
    })

    // function install input filter only text and number
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
            textbox.addEventListener(event, function() {
            if (inputFilter(this.value)) {
                this.oldValue = this.value;
                this.oldSelectionStart = this.selectionStart;
                this.oldSelectionEnd = this.selectionEnd;
            } else if (this.hasOwnProperty("oldValue")) {
                this.value = this.oldValue;
                this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
            } else {
                this.value = "";
            }
            });
        });
    }

    // declaration install input filter only text and number
    setInputFilter(document.getElementById("no_container_bol"), function(value) {
        return /^[0-9a-z]*$/i.test(value);
    });

    setInputFilter(document.getElementById("container_after"), function(value) {
        return /^[0-9a-z]*$/i.test(value);
    });

    // name="cont_no" class="form-control col-form-label-sm" id="no_container" 

</script>