<!DOCTYPE html>
<html>
  <head>
    <title>DIGICO</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/images/logo/digico.png" type="image/x-icon">
    <link rel="stylesheet" href="/plugin/bootstrap-4.3.1/css/bootstrap.min.css">
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="/plugin/fontawesome-5.8.2/css/all.css" >
	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="/plugin/bootstrap-sweetalert/dist/sweetalert.css">
  <link rel="stylesheet" type="text/css" href="/plugin/styles/header.css">
  <link rel="stylesheet" type="text/css" href="/plugin/styles/main.css">
	<link href="/plugin/select2-4.0.7/dist/css/select2.min.css" rel="stylesheet" />
  <link href="/plugin/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
  <link rel="stylesheet" type="text/css" href="/plugin/datatables/datatables.min.css">
  <link rel="stylesheet" type="text/css" href="/plugin/jquery-ui-1.12.1/jquery-ui.css">

  <script src="/plugin/jquery/dist/jquery.min.js"></script>
  <script src="/plugin/jquery.inputmask.bundle.js"></script> 
  <script src="/plugin/jquery-ui-1.12.1/jquery-ui.js"></script>
  <script src="/plugin/bootstrap-4.3.1/js/bootstrap.bundle.min.js"></script>
	<script src="/plugin/bootstrap-4.3.1/js/bootstrap.min.js"></script>
  <script src="/plugin/datatables/datatables.min.js"></script>
  <script src="/plugin/select2-4.0.7/dist/js/select2.min.js"></script>
  <script src="/plugin/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
  <script src="/plugin/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script> 
  <link rel="stylesheet" href="/plugin/fontawesome-5.8.2/css/all.css" >
    
  </head>

  <body>
        <%- partial('../partials/header.ejs') %>
          <%- body %>
        <%- partial('../partials/footer.ejs') %>

  </body>
</html>
<script src="/dependencies/sails.io.js"></script>
<script>
  $(document).ready(function () {
        var idleState = false;
        var idleTimer = null;
        $('*').bind('mousemove click mouseup mousedown keydown keypress keyup submit change mouseenter scroll resize dblclick', function () {
            clearTimeout(idleTimer);
            idleState = false;
            idleTimer = setTimeout(function () { 
                swal({
                  title: "You'r not active for long time !",
                  text: "Please login again!",
                  type: "warning",
                  confirmButtonClass: "btn-danger",
                  confirmButtonText: "LOGIN",
                  closeOnConfirm: false
                },
                function(){
                  window.location = "/logout/action"
                });
                idleState = true; }, 1800000);//30menit
        });
        $("body").trigger("mousemove");
    });
</script>

