@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
body {
    padding: 0;
    margin: 0;
    background-color: #F4F7FA;
    font-family: 'Roboto';
}
.my-nav{
    width: 100%;
    height: 40px;
    background-color: white;
    border-radius: 50px;
}
.nav-item {
    margin-right: 15px;
}
.nav-item .nav-li-custom img {
    width: 30%;
    height: 30%;  
}
.nav-link{
    color: red;
}
.nav-link:hover{
    color: red;
}
.user-icon{
    color: white;
}
.aside-custom{
    background-color: white;
    width: 100px;
}
.aside-custom li {
    padding: 7px 4px;
}
.aside-custom li img {
    height: 100%;
    width: 100%;
}
.container-custom {
    width: 100%;
    margin-top: 10px;
}
.list-group .li-custom {
    margin-bottom: 10px;
}
/* master truck */
.navtop{
    margin-top:0px;
    width: 230px;
}
.tab-content {
    padding: 40px;
    margin-top: -20px; 
}
.form-group {
    margin-bottom: 0rem;
}
.row-custom {
    margin-top: 4rem;
    padding: 2px 14px;
}
.row-custom-third {
    margin-top: 1rem;
    padding: 2px 14px;
}
.row-button {
    margin-top: 4rem;
    padding: 14px 24px;
}
.status {
    margin-bottom: 0.5em;
}
.dropdown-custom{
    left: -160%;
    width: 25px;
}
.custome-a{
    width: 70%;
    height: 70%;
    font-size: 10pt;
}
.custome-a a{
    text-decoration:none;

}
.p-custom{
    margin-top: 7px;
}
@media (max-width: 360px) { 
    .my-nav{
        top:0px;
        left: 0px;
        width: 100%;
    }   
 }