@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
body,html {
    /* background-image: url('https://i.imgur.com/xhiRfL6.jpg'); */
    /* height: 100%; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background: #181818;
    color: #fff;
    overflow: hidden;
}
.logo {
    margin-top: 2vh;
    margin-bottom: 8vh;
}

.text-input {
    margin-bottom: 1.3rem;
    border-radius: 2px;
    background-color: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

.text-input:focus{
    background-color: #181818;
    color: #ccc;
}

label {
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}

.btn-login {
    width: 100%;
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background-color: #f96816;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.btn-login:hover {
    background-color: #f96816;
    color: #fff;
}

#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

#showcase .showcase-text {
    font-size: 3rem;
    width: 100%;
    color: #fff;
    margin-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#showcase .secondary-btn {
    width: 60%;
    margin: auto;
}

.secondary-btn {
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    background: none;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s;
}

.secondary-btn:hover {
    color: #f96816;
    border: 1px solid #f96816;
}

