.cont-header{
  margin-top: 15px;
}
.cont-content{
  background-color: white;
  padding-bottom: 50px;
  margin-top: 50px;
}
.btn-circle-sm {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 70px;
  background-color:#dc3545;
}

#rectangle {
  height: 45px;
  background-color: #fff;
  border-radius: 30px;
}

#cir {
  width:70px;
  height: 70px;
  background-color: #fff;
  border-radius: 100%;
  position: relative;
  left : -25px;
  text-align:center;
}

.brand-logo{
  margin-top: 5px;
}


