body,
html {
  /* background-image: url('https://i.imgur.com/xhiRfL6.jpg'); */
  height: 100%;
  /* padding: 15px; */
  overflow: auto;
  background-color: #f0f8ff;
  font-family: 'Roboto', sans-serif;
}
.h-100{
  padding: 25px;
}
#profile-img {
  height: 50px;
}
.profile-img-card h3 {
  font-family: 'Roboto';
  font-weight: bold;
}
.alert-warning {
  color: white;
  background-color: red;
  border-color: red;
}
.btn-signup {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.btn-signup a {
  text-decoration: none;
  color: #000;
}
.btn-signin {
  width: 100%;
}
.text-center a {
  text-decoration: none;
}
.btn-forgot{
  width: 100%;
  margin-bottom: 10%;
}

/* modal maps */
#map {
    height: 100%;
    height: 400px;
  }
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }

  #infowindow-content .title {
    font-weight: bold;
  }

  #infowindow-content {
    display: none;
  }

  #map #infowindow-content {
    display: inline;
  }

  .pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
  }

  #pac-container {
    padding-bottom: 0px;
    margin-right: 0px;
  }
/* .pac-container { */
    /* z-index: 10000 !important;
     */
     /* position: absolute;
    width: auto !important;
    position: initial !important;
    left: 0 !important;
    right: 0 !important;
    display: block !important;
}
.pac-container:empty{
    display: none !important;
} */
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }

  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }

  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
    /* margin-left: 12px; */
    /* padding: 0 11px 0 13px; */
    text-overflow: ellipsis;
    width: 400px;
  }

  #pac-input:focus {
    border-color: #4d90fe;
  }

  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }