<%- partial('../partials/alert.ejs') %>
<div class="text-center">
    <p style="color:red;font-size: 25px;font-weight: bold">Welcome to <strong style="font-size: 35px;">Digico</strong> platform</p>
</div>
<script>
     var a = "<%flash%>"
     console.log(a);
</script>
