<link href="/plugin/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet">

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
    <title>Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" href="/images/logo/digico.png" type="image/x-icon">
    <link rel="stylesheet" href="/plugin/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/plugin/fontawesome-5.8.2/css/all.css">
    <script src="/plugin/jquery/dist/jquery.min.js"></script>
    <script src="/plugin/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/plugin/styles/login.css">
</head>

<body>
    <div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form_login">
                    <div class="center_content" style="height: 150px;">
                        <img class="img-fluid logo" src="/images/logo/DigicoAsset.png" />
                    </div>
                    <%- partial('../partials/alert.ejs') %>
                    <form action="/login/action" method="post" class="form-signin">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input type="text" class="form-control text-input" id="username" name="username" placeholder="Username" required autofocus autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control text-input" id="password" name="password" placeholder="Password" required autofocus autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label>Please type the code bellow :</label>
                            <div style="width: 100%; height: 60px;">
                                    <div style="float: left;">
                                        <div id="div_captcha"></div> 
                                        <input style="margin-top:10px;" type="hidden" class="form-control text-input" id="capchatext" name="capchatext">
                                    </div>
                                    <div style="float: left; height: 0px;">
                                        <a href="#" onclick="get_captcha()"><img style="width: 50px; height: 50px;" class="logo" src="/images/logo/refresh_image.png"/></a>
                                    </div>    
                            </div>
                            
                            <input style="margin-top:10px;" type="text" class="form-control text-input" id="capcha" name="capcha" required autofocus autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-login">Sign in</button>
                    </form>
                    <div class="center_content">
                        <label>Forgot Password</label>
                    </div>

                    <footer id="main-footer">
                        <p>Copyright © 2019, Amanah Logistik Rayya All Rights Reserved</p>
                        <div>
                            <a href="#">terms of use</a> | <a href="#">Privacy Policy</a>
                        </div>
                    </footer>

                </div>

            </div>
            <div class="col-sm-8">
                <div id="showcase" class="image_background">
                    <div id="showcase-content">
                        <h1 class="showcase-text">
                            Let's create the future <strong>together</strong>
                        </h1>
                        <a href="#" class="secondary-btn">Start a FREE 10-day trial</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    var captcha_text = '';

    $(document).ready(function () {
        get_captcha();
    });

    function get_captcha() {
        $.ajax({
            url: "/login/captcha",
            method: "GET",
            success: function (response) {
                console.log(response);
                $('#div_captcha').html('');
                $('#div_captcha').append(response.captcha.data);
                captcha_text = response.captcha.text;
                $('#capchatext').val(captcha_text);
                console.log(captcha_text);
            },
            error: function (e) {
                console.log(e);
                $('#div_captcha').html('');
            }
        });
    }
</script>

<style>
    .btn-primary,
    .btn-primary:active,
    .btn-primary:visited,
    .btn-primary:focus {
        background-color: #12426E;
    }

    .btn-primary:hover {
        background-color: #154e84;
    }

    .link {
        color: #12426E;
    }

    /* CSS link */
    .link:hover {
        color: #2076c5;
    }

    /* CSS link hover */
    .image_background {
        background: url(/images/logo/background_login.png) no-repeat center center / cover;
    }

    .form_login {
        width: 100%;
        padding-left: 40px;
        padding-right: 40px;
    }

    .center_content {
        align-items: center;
        text-align: center;
    }

    #main-footer {
        color: #ccc;
        text-align: center;
        font-size: 0.8rem;
        max-width: 100%;
        padding-top: 5rem;
    }

    #main-footer a {
        color: #f96816;
        text-decoration: underline;
    }
</style>