<%- partial('../../partials/alert.ejs') %>
<div class="container-fluid cont-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center" style="margin-top: 40px;">
                <h6 style="color: #BC011E">PAYMENT</h6>    
            </div>
            <button type="button" style="padding-left: 50px; padding-right: 50px;" class="btn btn-info btn-sm" onclick="payment()" id="bt_payment">Pay</button>
            <div class="card" style="margin-top: 20px;">
                <div class="card-header" style="background-color: #BC011E;color: white;">
                    <i class="fa fa-file-alt"></i><strong> LIST OF PAYMENT</strong>
                </div>
                <div class="row" style="margin-left: 1vw;">
                    <div class="centered-element background-price-header">
                        <h5>Total Price : </h5>
                        <h5 id="total_price_data" style="margin-left: 1vw;">0</h5>
                    </div>
                    <!-- <div class="centered-element background-price-header" style="background-color: #17a2b8;">
                        <h5 id="total_price_data">0</h5>
                    </div> -->
                </div>
                <div class="card-body">
                    <table id="tbl_payment" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th id="checkbox_all"></th>
                                <th>REQ NUMBER</th>
                                <th>BL NUMBER</th>
                                <th>CARGO OWNER </th>
                                <th>SHIPPING LINE</th>
                                <th>NO DO</th>
                                <th>NO Proforma</th>
                                <th>AMOUNT</th>
                                <th>DATE</th>
                            </tr>
                        </thead>
                    </table>   
                </div>
            </div>
        </div>
    </div>
</div>

<link type="text/css" href="/styles/checkbox_datatable.css" rel="stylesheet" />
<script type="text/javascript" src="/js/checkbox_datatable_min.js"></script>

<style>
    .centered-element {
        text-align: center; 
        align-items: center; 
        justify-content: left; 
        display: flex;
    }
    .background-price-header {
        width: 25vw; 
        height: 3vw; 
        padding-left: 1vw;
        border-radius: 0.5vw; 
        background-color: blue; 
        margin-top: 5px; 
        margin-left: 5px; 
        color: white; 
    }
</style>

<script>
    
    document.getElementById("total_price_data").innerHTML = format_number(0);

    $("#btnExport").click(function() {
        var todaysDate = '111019';
        var blobURL = tableToExcel('account_table', 'test_table');
        $(this).attr('download',todaysDate+'.xls')
        $(this).attr('href',blobURL);
    });
    var tables = $('#tbl_payment').DataTable({
        "dom": "frtip",
        scrollX: true,
        ajax: {
            url: "/dopayment/requests/listPayment",
            dataSrc: "data",
            type: "POST"
        },
        columns: [
            { data: "id_req" },
            { data: "reqnum" },
            { data: "blnum" },
            { data: "ffname" },
            { data: "slname" },
            { data: "donum" },
            { data: "no_proforma" },
            { data: "total",
              render: $.fn.dataTable.render.number( ',', '.', 2 )
            },
            { data: "create_date" },
        ],
        order : [[ 1, "asc" ]],
        columnDefs: [ 
            { 
                orderable: false,
                checkboxes: {
                    selectRow: true
                },
                targets:   0
            }
        ],
        select: 
        {
            style:    'multi',
        }
    });

    $('#tbl_payment').on( 'click', 'tr', function() {
        setTimeout(function() {
            var checked = tables.column(0).checkboxes.selected();
            console.log("rows_selected");
            console.log(checked.length);
            console.log(checked);
            
            if (checked.length === 0) {
                console.log('no checked');
                document.getElementById("total_price_data").innerHTML = format_number(0);
            } else {
                let data_req_id = [];
                for (var i = 0; checked[i]; ++i) {
                    variable = checked[i];
                    data_req_id.push(variable);
                    console.log('variable ' + variable);
                }
                console.log("data_req_id");
                console.log(data_req_id);
                get_total_amount(data_req_id);
            }
        }, 100);
    });

    $('#checkbox_all').on( 'click', function() {
        setTimeout(function() {
            var checked = tables.column(0).checkboxes.selected();
            console.log("rows_selected");
            console.log(checked.length);
            console.log(checked);
            
            if (checked.length === 0) {
                console.log('no checked');
                document.getElementById("total_price_data").innerHTML = format_number(0);
            } else {
                let data_req_id = [];
                for (var i = 0; checked[i]; ++i) {
                    variable = checked[i];
                    data_req_id.push(variable);
                    console.log('variable ' + variable);
                }
                console.log("data_req_id");
                console.log(data_req_id);
                get_total_amount(data_req_id);
            }
        }, 100);
    });

    function get_total_amount(data_req_id) {
        console.log(data_req_id);
        var loader = '<%=process.env['BASE_URL']%>';
        swal({
            title: "Checking",
            text: "Please wait...",
            imageUrl: loader + "/images/loader.gif",
            showConfirmButton: false,
            allowOutsideClick: false
        });

        $.ajax({
            url: "/dopayment/requests/calculate_amount_payment",
            method: 'POST',
            type: 'json',
            data: {
                list_req_id: data_req_id
            },
            success: function (response) {
                console.log(response);
                swal.close()
                if (response.code == "01") {
                    document.getElementById("total_price_data").innerHTML = format_number(response.total);
                } else {
                    document.getElementById("total_price_data").innerHTML = format_number(0);
                }
            },
            error: function (e) {
                console.log(e);
                swal.close()
                document.getElementById("total_price_data").innerHTML = format_number(0);
            }
        });
    }

    function payment() {
        var checked = tables.column(0).checkboxes.selected();
        console.log("rows_selected");
        console.log(checked.length);
        
        if (checked.length === 0) {
            swal({title: "Failed", text: "No data has been selected yet", type: "error"});
        } else {
            console.log('masuk else payment');
            swal({
                title: "Payment",
                text: "Are you sure you will proceed with this payment",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
                }, function () {
                    let data_req_id = [];
                    for (var i = 0; checked[i]; ++i) {
                        variable = checked[i];
                        data_req_id.push(variable);
                        console.log('variable ' + variable);
                    }
                    console.log("data_req_id");
                    console.log(data_req_id);
                    
                    $.ajax({
                    type: "POST",
                    url: "/dopayment/requests/multiple_inquiry",
                    dataType: "json",
                    data: { 
                        list_req_id: data_req_id
                    },
                    cache: false,
                    success: function(result){  
                        if(result.code == '01'){
                            swal({title: "Done", text: result.message, type: "success"},
                                function(){ 
                                    var pid = result.pid;
                                    var encrypt = result.encrypt;
                                    var cust_id = result.cust_id;
                                    console.log('data');
                                    console.log(pid);
                                    console.log(encrypt);
                                    console.log(cust_id);

                                    var ip_payment = '<%=process.env['IP_PAYMENT']%>';
                                    var user_digico = '<%=process.env['USERNAME_DIGICO']%>';
                                    var pass_digico = '<%=process.env['PASS_DIGICO']%>';
                                    var app_id = '<%=process.env['APP_ID_DIGICO']%>';
                                    var url_payment = ip_payment + '0_1_0/invoice?app_id='+app_id+'&user='+user_digico+'&pass='+pass_digico+'&pid='+pid+'&key='+encrypt+'&no_rek&kode_bank&cust_id='+cust_id;
                                    console.log(url_payment);
                                    window.location.href = url_payment;
                                }
                            );
                        } else {
                            swal({title: "Failed", text: result.message, type: "error"},
                                function(){ 
                                    location.reload();
                                }
                            );
                        }
                    }
                });
            });
        }
    }

    function format_number(number) {
        var formatter = new Intl.NumberFormat('en-US').format(number);
        return formatter;
    }
    
</script>