<div class="container-fluid cont-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center" style="margin-top: 40px;">
                <h6 style="color: #BC011E">DELIVERY ORDER</h6>    
            </div>
            <button type="button" class="btn btn-danger btn-sm" id="rejectDO"  onclick="reject('<%=data[0].id%>', '<%=data[0].blnum%>','<%=data[0].name_company%>','<%=data[0].slname%>')">
                Reject</button>
            <button type="button" class="btn btn-info btn-sm ml-1" id="approveDO" onclick="approve()">
                Approve</button>
            <button type="button" class="btn btn-info btn-sm ml-1" id="paymentDO" onclick="payment()">
                    Payment</button>
            <!-- <a href="http://google.com" class="btn btn-info btn-sm ml-1" id="paymentDO">Payment</a> -->
            <!-- View Of Request-->
            <div class="card" style="margin-top: 20px;">
                <div class="card-header" style="background-color: #BC011E;color: white;">
                    <i class="fa fa-file-alt"></i><strong> VIEW OF REQUEST</strong>
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Shipping Line</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="shipping_line" name="shipping_line" value="<%=data[0].slname%>" autocomplete="off" readonly>
                                    <input type="hidden" class="form-control form-control-sm" id="id_do" name="id_do" value="<%=data[0].id_do%>" autocomplete="off" readonly>
                                    <input type="hidden" class="form-control form-control-sm" id="status_do" name="status_do" value="<%=data[0].status%>" autocomplete="off" readonly>
                                    <input type="hidden" class="form-control form-control-sm" id="id_req" name="id_req" value="<%=data[0].id%>" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Nomor Request</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="no_req" name="no_req" value="<%=data[0].reqnum%>" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Payment Method *</label>
                                <div class="col-sm-7">
                                    <select class="js-example-placeholder-single js-states form-control form-control-sm" id="payment_method" name="payment_method" required>
                                        <option></option>
                                        <option <%- data[0].tag==4 ? "selected" : "" %> value="4">Credit</option>
                                        <option <%- data[0].tag==2 ? "selected" : "" %> value="2">Direct Payment</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Amount</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="Amount" name="Amount" value="<%=data[0].amount%>" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Warranty Amount</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="warranty_amount" name="warranty_amount" value="<%=data[0].amount2%>" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Transaction Fee</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="transaction_fee" name="transaction_fee" value="<%=data[0].transfee%>" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Note Request</label>
                                <div class="col-sm-7">
                                    <textarea class="form-control form-control-sm" id="nota_req" name="nota_req" rows="5"><%=data[0].note_request%></textarea>
                                </div>
                            </div>
                            <div id="view_proforma" class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">File Proforma Invoice</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control form-control-sm" id="file_pInvoice" name="file_pInvoice" value="<%=data[0].fileproformainv%>" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <a href="/file/<%=data[0].fileproformainv%>" class="btn btn-primary btn-sm" target="_blank">Download</a>
                                </div>
                            </div>
                            <div id="view_invoice" class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">File  Invoice</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control form-control-sm" id="file_invoice" name="file_invoice" value="<%=data[0].fileinv%>" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <a href="/file/<%=data[0].fileinv%>" class="btn btn-primary btn-sm" target="_blank">Download</a>
                                </div>
                            </div>
                            <div id="view_do" class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">File  DO</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control form-control-sm" id="file_do" name="file_do" value="<%=data[0].filedo%>" autocomplete="off" readonly>
                                </div>
                                <div class="col-sm-3">
                                    <a href="/file/<%=data[0].filedo%>" class="btn btn-primary btn-sm" target="_blank">Download</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Cargo Owner</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="cargo_owner" value="<%=data[0].ffname%>" name="cargo_owner" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">No BL</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="no_bl" name="no_bl" value="<%=data[0].blnum%>" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">No DO</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="no_do" name="no_do" value="<%=data[0].donum%>" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Expired DO</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="exp_do" name="exp_do" value="<%=data[0].due_date%>" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Total</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="total" name="total" value="<%=data[0].total%>" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Reference ID</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="ref_id" name="ref_id" value="<%=data[0].refid%>" autocomplete="off" readonly >
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Vessel</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="vessel" name="vessel" value="<%=data[0].vessel%>" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Voyage</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="voyage" name="voyage" value="<%=data[0].voyage%>" autocomplete="off" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">PKK</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="pkk" name="pkk" value="<%=data[0].pkk%>" autocomplete="off" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- View Of Detail Container-->
            <div class="card" style="margin-top: 20px;">
                <div class="card-header" style="background-color: #BC011E;color: white;">
                    <i class="fa fa-file-alt"></i><strong> VIEW OF DETAIL CONTAINER</strong>
                </div>
                <div class="card-body"> 
                    <div class="row mb-3">
                        <button type="button" class="btn btn-success btn-sm" id="addContainer" data-toggle="modal" data-target="#exampleModalCenter">
                            Add</button>
                        <a class="btn btn-primary btn-sm ml-2" href="/dopayment/requests/delivery">Back</a>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="detail_container" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th width="50%">No Container</th>
                                        <th width="50%">Tools</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
              <!-- View Of Detail Files-->
            <div class="card" style="margin-top: 20px;">
                <div class="card-header" style="background-color: #BC011E;color: white;">
                    <i class="fa fa-file-alt"></i><strong> VIEW OF DETAIL FILES</strong>
                </div>
                <div class="card-body"> 
                <div class="row">
                    <div class="col-sm-12">
                        <table id="detail_files" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th width="50%">Files Name</th>
                                    <th width="50%">Tools</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Container-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLongTitle">Add Container</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            
                <div class="modal-body">
                    <form id="form-addcontainer">
                        <div id="div-container-view">
                            <div class="form-group row">
                                <label for="ForContainerView" class="col-sm-4 col-form-label">No. Container</label>
                                <div class="col-sm-6">
                                    <input type="text" name="cont_no_view" class="form-control form-control-sm" id="no_container_view" placeholder="No Container">
                                </div>
                                <div class="col-sm-1">
                                    <button id="btnAddViewContainer" type="button" class="btn btn-primary btn-sm">Add</button>
                                </div>
                                <div class="col-sm-2">
                                    <input type="hidden" id="count_view" name="count_view" value="1">
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="Submit()" class="btn btn-primary btn-sm">Submit</button>
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal Edit Container-->
<div class="modal fade" id="modal-edit-do" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Container</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action='' method="POST" id="edit_container">
                    <input type="hidden" name="id_cont_edit" id="id_cont_edit">
                    <div id="div-container-req">
                        <div class="form-group row">
                            <label for="ForContainer" class="col-sm-4 col-form-label">No. Container</label>
                            <div class="col-sm-6">
                                <input type="hidden" name="container_before-do" id="container_before-do">
                                <input type="text" name="container_after-do" class="form-control col-form-label-sm" id="container_after-do">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="submit_edit()" >Update</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
    </div>
</div>

<!-- Modal Reject DO-->
<div class="modal fade" id="modal-reject-do" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reject Request DO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="font-size: 15px;">Anda yakin akan melakukan "REJECT" pada request DO tersebut ?</p>
                <form action='' method="POST" id="edt_rjt">
                    <input type="hidden" name="id_rjtcont_edit" id="id_rjtcont_edit">
                    <div id="div-reject-req">
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">BL Number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" name="rjtblnumber" id="rjtblnumber" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Cargo Owner</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" name="rjtcargonum" id="rjtcargonum" readonly>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="" class="col-sm-4 col-form-label">Shipping Line</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" name="rjtsl" id="rjtsl" readonly>
                            </div>
                        </div>

                        <p style="font-size: 15px;">Silahkan isi alasan REJECT dan klik "Yes" untuk melanjutkan proses atau "No" untuk cancel.</p>

                        <div class="form-group row mb-3">
                            <label for="" class="col-sm-4 col-form-label">Keterangan Reject</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" name="ketrjt" id="ketrjt">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="sumbit_reject()" >Yes</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">No</button>
            </div>
        </form>
        </div>
    </div>
</div>

<script>
    $("#payment_method").select2({             
        placeholder: "-- Choose Payment --"
    });

    $(document).ready(function() {
        $("#Amount").inputmask({
            'alias': 'decimal',
            rightAlign: true,
            'groupSeparator': '.',
            'autoGroup': true
        });
        $("#warranty_amount").inputmask({
            'alias': 'decimal',
            rightAlign: true,
            'groupSeparator': '.',
            'autoGroup': true
        });
        $("#total").inputmask({
            'alias': 'decimal',
            rightAlign: true,
            'groupSeparator': '.',
            'autoGroup': true
        }); 
    });
    var table=null;
    var statusDo = $('#status_do').val();
    var status_payment = '<%=data[0].tag%>';
    console.log("status_payment");
    console.log(status_payment);

    detail_container();
    detail_files();

    if(statusDo === 'PNDG'){
        $('#addContainer').prop('disabled', false);
        $('#rejectDO').show();
        $('#approveDO').show();
        $('#view_proforma').hide();
        $('#view_invoice').hide();
        $('#view_do').hide();
        $('#paymentDO').hide();
    }else if(statusDo === 'RJCT'){
        $('#addContainer').prop('disabled', true);
        $('#rejectDO').hide();
        $('#approveDO').hide();
        document.getElementById("nota_req").readOnly = true;
        $('#payment_method').prop('disabled', true);
        $('#view_proforma').hide();
        $('#view_invoice').hide();
        $('#view_do').hide();
        $('#paymentDO').hide();
    }else if(statusDo === 'RQST'){
        $('#addContainer').prop('disabled', false);
        $('#rejectDO').hide();
        $('#approveDO').hide();
        document.getElementById("nota_req").readOnly = true;
        $('#payment_method').prop('disabled', true);
        $('#view_proforma').hide();
        $('#view_invoice').hide();
        $('#view_do').hide();
        $('#paymentDO').hide();
    }else if(statusDo === 'RJCS'){
        $('#addContainer').prop('disabled', true);
        $('#rejectDO').hide();
        $('#approveDO').hide();
        document.getElementById("nota_req").readOnly = true;
        $('#payment_method').prop('disabled', true);
        $('#view_proforma').hide();
        $('#view_invoice').hide();
        $('#view_do').hide();
        $('#paymentDO').hide();
    }else if(statusDo === 'CLSE'){
        $('#addContainer').prop('disabled', true);
        $('#payment_method').prop('disabled', true);
        $('#rejectDO').hide();
        $('#approveDO').hide();
        document.getElementById("nota_req").readOnly = true;
        if (status_payment == 4) {
            $('#view_proforma').hide();
        }
        $('#paymentDO').hide();
    }else if(statusDo === 'BILL'){
        $('#addContainer').prop('disabled', true);
        $('#rejectDO').hide();
        $('#approveDO').hide();
        document.getElementById("nota_req").readOnly = true;
        $('#payment_method').prop('disabled', true);
        if (status_payment == 2) {
            $('#view_invoice').hide();
            $('#view_do').hide();
            $('#paymentDO').show();
        }
    } else if(statusDo === 'PAID'){
        $('#addContainer').prop('disabled', true);
        $('#rejectDO').hide();
        $('#approveDO').hide();
        $('#paymentDO').hide();
        document.getElementById("nota_req").readOnly = true;
        $('#payment_method').prop('disabled', true);
        if (status_payment == 2) {
            $('#view_invoice').hide();
            $('#view_do').hide();
        }
    }

    function detail_container(){
        if (table != null) {
            table.destroy();
        }
        
        table = $('#detail_container').DataTable({
        ajax: {
            url: "/dopayment/requests/detailContainer",
            dataSrc: "data",
            type: "POST",
            data: {
                id_do: $('#id_do').val(),
            },
        },
        columns: [
            { data: "no_container" },
            { data: "id",
                "render": function (data, type, row, meta) {
                    data = '<button type="button" onclick="edit(\'' + row.id + '\',\'' + row.no_container + '\')" id="editCont'+row.id+'" class="btn btn-warning btn-sm">Edit</button> <span></span>' +
                    '<button type="button" onclick="deleted(' + row.id + ')" id="deleteCont'+row.id+'" class="btn btn-danger btn-sm">Delete</button> <span></span>';

                    if(statusDo === 'PNDG'){
                        $('#editCont'+row.id+'').prop('disabled', false);
                        $('#deleteCont'+row.id+'').prop('disabled', false);
                    }else if(statusDo === 'RJCT'){
                        $('#editCont'+row.id+'').prop('disabled', true);
                        $('#deleteCont'+row.id+'').prop('disabled', true);
                    }else if(statusDo === 'RQST'){
                        $('#editCont'+row.id+'').prop('disabled', false);
                        $('#deleteCont'+row.id+'').prop('disabled', false);
                    }else if(statusDo === 'RJCS'){
                        $('#editCont'+row.id+'').prop('disabled', true);
                        $('#deleteCont'+row.id+'').prop('disabled', true);
                    }else if(statusDo === 'CLSE'){
                        $('#editCont'+row.id+'').prop('disabled', true);
                        $('#deleteCont'+row.id+'').prop('disabled', true);
                    }else if(statusDo === 'BILL'){
                        $('#editCont'+row.id+'').prop('disabled', true);
                        $('#deleteCont'+row.id+'').prop('disabled', true);
                    } else {
                        $('#editCont'+row.id+'').prop('disabled', true);
                        $('#deleteCont'+row.id+'').prop('disabled', true);
                    }

                    return data;
                }, className: "text-center"},
            ]
        });
    }
    
    function detail_files(){
        $('#detail_files').DataTable({
            ajax: {
                url: "/dopayment/requests/detailFiles",
                dataSrc: "data",
                type: "POST",
                data: {
                    id_do: $('#id_do').val(),
                },
            },
            columns: [
                { data: "file_name" },
                { data: "id",
                    "render": function (data, type, row, meta) {
                        data = '<a href="/file/' + row.file_name + '" class="btn btn-danger btn-sm" target="_blank">Download</a>';
                        return data;
                    }, className: "text-center"},
            ]
        });
    }

    function download(id) {
        var url = '/dopayment/requests/downloadFiles';
        var postFormStr = "<form class='form-horizontal' method='post' action='" + url + "' target='_blank'>\n";
        postFormStr += "<input type='hidden' name='id' value='" + id + "'></input>";
        postFormStr += "<input type='hidden' name='action' value='view'></input>";
        postFormStr += "</form>";
        var formElement = $(postFormStr);
        $('body').append(formElement);
        $(formElement).submit();
    }
    $("#btnAddViewContainer").click(function () {
        var count = parseInt($('#count_view').val());
        console.log(count);
        var input_cont = '<div class="form-group row count_view_container" id="div-row-cont_view-'+count+'">'+
                '<label for="ForContainerView" class="col-sm-4 col-form-label">No. Container</label>'+
                '<div class="col-sm-6">'+
                    '<input type="text" name="cont_no_view'+count+'" class="form-control form-control-sm" id="no_container_add_view-'+count+'" placeholder="No Container">'+
                '</div>'+
                '<div class="col-sm-1">'+
                    '<button id="btnDeleteViewContainer" type="button" class="btn btn-danger btn-sm" onclick=\'removeRow_viewcontainer("'+count+'")\'>Delete</button>'+
                '</div>'+
                '</div>';
        $('#div-container-view').append(input_cont);
        $('#count_view').val(count+1);

        // declaration install input filter only text and number
        var id_container_new = 'no_container_add_view-'+count;
        setInputFilter(document.getElementById(id_container_new), function(value) {
            return /^[0-9a-z]*$/i.test(value);
        });
    });
    function removeRow_viewcontainer(id){
        $('#div-row-cont_view-'+id).remove();
        var cd = parseInt($('#count_view').val());
        $('#count_view').val(cd-1);
    }
    $('#exampleModalCenter').on('hidden.bs.modal', function () {
        $('.modal-body').find('input').val('');
        $('.count_view_container').remove();
        $('#count_view').val('1');
    });
    function Submit(){
        var id_do= $('#id_do').val();
        swal({
            title: "Add Container",
            text: "Submit to Add Container",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
            }, function () {
            $.ajax({
                type: "POST",
                url:"/dopayment/requests/addContainer",
                dataType: "json",
                data: $("#form-addcontainer").serialize() + "&id_do=" + id_do,
                cache: false,
                success: function(result){
                console.log('result '+result.status);
                    if(result.status == 'S'){
                        setTimeout(function () {
                            swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                                function(){ 
                                    $('#exampleModalCenter').modal('hide');
                                    detail_container();
                                }
                            );
                        }, 3000);
                            
                    }else{
                        setTimeout(function () {
                                swal({title: "Failed", text: "Something Wrong", type: "error"},
                                    function(){ 
                                        $('#exampleModalCenter').modal('hide');
                                        detail_container();
                                    }
                                );
                            }, 3000);
                    }
                }
            });
        });
    }
    function deleted(id){
        swal({
            title: "Delete Container",
            text: "Submit to Delete Container",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
            }, function () {
                $.ajax({
                type: "POST",
                url: "/dopayment/requests/deleteContainer",
                dataType: "json",
                data: {id:id},
                cache: false,
                    success: function(result){         
                        if(result.status == 'S'){
                            setTimeout(function () {
                                swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                                    function(){ 
                                        detail_container();
                                    }
                                );
                            }, 3000);
                        }else{
                            setTimeout(function () {
                                    swal({title: "Failed", text: "Something wrong", type: "error"},
                                        function(){ 
                                            detail_container();
                                        }
                                    );
                                }, 3000);
                        }
                    }
                });
            });
    }
    function edit(id, no_container){
        $('#modal-edit-do').modal('show');
        $('#id_cont_edit').val(id);
        $('#container_before-do').val(no_container);
        $('#container_after-do').val(no_container);
    }
    function submit_edit(){ 
        var id_do= $('#id_do').val();
        var id_cont_edit = $('#id_cont_edit').val();
        var cont_before =  $('#container_before-do').val();
        var cont_after = $('#container_after-do').val();
    
            swal({
                title: "Edit Container Number",
                text: "Submit to Edit Container Number",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
                }, function () {
                $.ajax({
                    type: "POST",
                    url: "/dopayment/requests/editContainer",
                    dataType: "json",
                    data: {id: id_cont_edit, delivery_id: id_do, container_before: cont_before, container_after: cont_after},
                    cache: false,
                    success: function(result){
                    console.log('result '+result.message);
                        if(result.status == 'S'){
                            setTimeout(function () {
                                swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                                    function(){ 
                                        $('#modal-edit-do').modal('hide');
                                        detail_container();
                                    }
                                );
                            }, 3000);
                    
                        }else{
                            setTimeout(function () {
                                swal({title: "Done", text: "'"+result.message+"'", type: "error"},
                                    function(){ 
                                        $('#modal-edit-do').modal('hide');
                                        detail_container();
                                    }
                                );
                            }, 3000);
                        }
                    }
                });
            });
    }
    function approve(){
        if ($('#payment_method').val() == '') {
            swal("Payment method is required !");
            return false;
        } else {
            var id_req = $('#id_req').val();
            var payment = $('#payment_method').val();
            var note_request = $('#nota_req').val();
            console.log(note_request);
            console.log(id_req)
            swal({
                title: "Approve Delivery Order",
                text: "Submit to Approve Delivery Order",
                type: "info",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true
                }, function () {
                    $.ajax({
                    type: "POST",
                    url: "/dopayment/requests/approveDO",
                    dataType: "json",
                    data: { id:id_req,
                            payment:payment,
                            note_request: note_request
                        },
                    cache: false,
                        success: function(result){         
                            if(result.status == 'S'){
                                setTimeout(function () {
                                    swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                                        function(){ 
                                            window.location.href = "/dopayment/requests/delivery";
                                        }
                                    );
                                }, 3000);
                            }else{
                                setTimeout(function () {
                                        swal({title: "Failed", text: "Something wrong", type: "error"},
                                            function(){ 
                                                location.reload();
                                            }
                                        );
                                    }, 3000);
                            }
                        }
                    });
                });
        }
    }
    function reject(id,blnum,name_company,slname){
        $('#modal-reject-do').modal('show');
        $('#id_rjtcont_edit').val(id);
        $('#rjtblnumber').val(blnum);
        $('#rjtcargonum').val(name_company);
        $('#rjtsl').val(slname);
    }
    function sumbit_reject(){
        var id_req = $('#id_rjtcont_edit').val();
        var ket = $('#ketrjt').val();

        if(ket === ''){
            swal('Keterangan Reject tidak boleh kosong');
            return false;
        }
        
        $.ajax({
        type: "POST",
        url: "/dopayment/requests/rejectDO",
        dataType: "json",
        data: { 
                id:id_req,
                ket:ket
              },
        cache: false,
            success: function(result){         
                if(result.status == 'S'){
                    setTimeout(function () {
                        swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                            function(){ 
                                window.location.href = "/dopayment/requests/delivery";
                            }
                        );
                    }, 3000);
                }else{
                    setTimeout(function () {
                            swal({title: "Failed", text: "Something wrong", type: "error"},
                                function(){ 
                                    location.reload();
                                }
                            );
                        }, 3000);
                }
            }
        });
    }
    function payment() {
        console.log('click payment');

        var no_proforma = '<%=data[0].no_proforma%>';
        var service_type = '<%=data[0].service_type%>';
        var shipping_line = $('#shipping_line').val();
        var amount = '<%=data[0].total%>';
        // var amount = $('#total').val();
        var id_consigne = '<%=data[0].id_consigne%>';
        var no_request = '<%=data[0].reqnum%>';
        
    
        var service_type_desc = '';
        if (service_type == '1') {
            service_type_desc = 'PETIKEMAS';
        } else {
            service_type_desc = 'OTHER';
        }
        console.log(shipping_line);
        console.log(service_type_desc);
        console.log(no_proforma);
        console.log(amount);
        console.log(id_consigne);

        let input_data = {
            no_proforma: no_proforma,
            amount: amount,
            service_type: service_type_desc,
            shipping_line: shipping_line,
            id_consigne: id_consigne,
            no_request: no_request
        }

        console.log(input_data);

        swal({
            title: "Payment",
            text: "Are you sure you will make a payment",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
        }, function () {
            $.ajax({
                type: "POST",
                url: "/dopayment/requests/inquiry",
                dataType: "json",
                data: input_data,
                cache: false,
                    success: function(result){         
                        if(result.status == '01'){
                            swal({title: "Done", text: result.message, type: "success"},
                                function(){ 
                                    var pid = result.pid;
                                    var encrypt = result.encrypt;
                                    var cust_id = result.cust_id;
                                    console.log('data');
                                    console.log(pid);
                                    console.log(encrypt);
                                    console.log(cust_id);

                                    var ip_payment = '<%=process.env['IP_PAYMENT']%>';
                                    var user_digico = '<%=process.env['USERNAME_DIGICO']%>';
                                    var pass_digico = '<%=process.env['PASS_DIGICO']%>';
                                    var app_id = '<%=process.env['APP_ID_DIGICO']%>';
                                    var url_payment = ip_payment + '0_1_0/invoice?app_id='+app_id+'&user='+user_digico+'&pass='+pass_digico+'&pid='+pid+'&key='+encrypt+'&no_rek&kode_bank&cust_id='+cust_id;
                                    console.log(url_payment);
                                    window.location.href = url_payment;
                                }
                            );
                        }else{
                            swal({title: "Failed", text: result.message, type: "error"},
                                function(){ 
                                    location.reload();
                                }
                            );
                        }
                    }, error: function(error) {
                        swal({title: "Failed", text: error, type: "error"},
                            function(){ 
                                location.reload();
                            }
                        );
                    }
                });
            }
        );
    }

    // function install input filter only text and number
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
            textbox.addEventListener(event, function() {
            if (inputFilter(this.value)) {
                this.oldValue = this.value;
                this.oldSelectionStart = this.selectionStart;
                this.oldSelectionEnd = this.selectionEnd;
            } else if (this.hasOwnProperty("oldValue")) {
                this.value = this.oldValue;
                this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
            } else {
                this.value = "";
            }
            });
        });
    }

    // declaration install input filter only text and number
    setInputFilter(document.getElementById("container_after-do"), function(value) {
        return /^[0-9a-z]*$/i.test(value);
    });

    setInputFilter(document.getElementById("no_container_view"), function(value) {
        return /^[0-9a-z]*$/i.test(value);
    });
</script>