<div class="container-fluid cont-content">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center" style="margin-top: 40px;">
                <h6 style="color: #BC011E">BILL PAYMENT</h6>    
            </div>
            <button type="button" class="btn btn-danger btn-sm" id="rejectDO"  onclick="reject('<%=data[0].id%>', '<%=data[0].blnum%>','<%=data[0].comp_name%>','<%=data[0].ffname%>')">
                Reject</button>
            <button type="button" class="btn btn-info btn-sm ml-1" id="approveDO" onclick="approve()">
                Approve</button>
            <!-- View Of Request-->
            <div class="card" style="margin-top: 20px;">
                <div class="card-header" style="background-color: #BC011E;color: white;">
                    <i class="fa fa-file-alt"></i><strong> VIEW OF REQUEST</strong>
                </div>
                <div class="card-body">
                        <form id="form-view" enctype="multipart/form-data" method="POST" action="/dopayment/request/billpayment_approveDO"> 
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group row mb-3">
                                <label for="slname" class="col-sm-4 col-form-label">Shipping Line</label>
                                <div class="col-sm-7">
                                        <input type="hidden" class="form-control form-control-sm" id="status_do" name="status_do" value="<%=data[0].status%>" autocomplete="off" readonly>
                                        <input type="hidden" class="form-control form-control-sm" id="id_req" name="id_req" value="<%=data[0].req_sl_delivery_id%>" autocomplete="off" readonly>
                                        <input type="hidden" class="form-control form-control-sm" id="id" name="id" value="<%=data[0].id%>" autocomplete="off" readonly>
                                        <input type="text" value="<%=data[0].slname%>" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="noreq" class="col-sm-4 col-form-label">Number Request</label>
                                <div class="col-sm-7">
                                    <input name="reqnum" id="reqnum" type="text" value="<%=data[0].reqnum%>" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="payment" class="col-sm-4 col-form-label">Payment Method</label>
                                <div class="col-sm-7">
                                    <input type="text"  name="payment" id="payment" class="form-control form-control-sm" readonly>
                                    <input type="hidden" value="<%=data[0].tag%>" name="method_payment">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="amount" class="col-sm-4 col-form-label">Amount *</label>
                                <div class="col-sm-7">
                                    <input type="text" value="" class="form-control form-control-sm amount" name="amount" id="amount" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="warramount" class="col-sm-4 col-form-label">Warranty Amount *</label>
                                <div class="col-sm-7">
                                    <input type="text" value="" class="form-control form-control-sm warramount" name="warramount" id="warramount" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="warramount" class="col-sm-4 col-form-label">Transaction Fee</label>
                                <div class="col-sm-7">
                                    <input type="text" style="text-align:right;" value="22000" class="form-control form-control-sm" name="transfee" id="transfee" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="warramount" class="col-sm-4 col-form-label">Total Payment</label>
                                <div class="col-sm-7">
                                    <input type="text" value="" class="form-control form-control-sm" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Nota Request</label>
                                <div class="col-sm-7">
                                    <textarea class="form-control form-control-sm" rows="5" readonly><%=data[0].note_request%></textarea>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="expDO" class="col-sm-4 col-form-label">Expired DO *</label>
                                <div class="col-sm-7">
                                    <input type="text" id="expDO" value="<%=data[0].duedate%>" name="expDO" class="form-control form-control-sm" autocomplete="off">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Vessel</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="vessel" name="vessel" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Voyage</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="voyage" name="voyage" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">PKK</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="pkk" name="pkk" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Freight Forwarder</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" autocomplete="off" value="<%=data[0].ffname%>" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Nomor BL</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" autocomplete="off" value="<%=data[0].blnum%>" readonly>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="date_issue_bl" class="col-sm-4 col-form-label">Date Issue BL *</label>
                                <div class="col-sm-7">
                                    <input type="text" id="date_issue_bl" name="date_issue_bl" value="<%=data[0].date_issue_bl%>" class="form-control form-control-sm" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Nomor DO</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="nodo" name="nodo" autocomplete="off" value="<%=data[0].donum%>">
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="name_company" class="col-sm-4 col-form-label">Reference ID</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="refid" name="refid" autocomplete="off">
                                </div>
                            </div>
                            <div class="form-group row mb-3" id="view_no_proforma">
                                <label for="name_company" class="col-sm-4 col-form-label">Nomor Proforma</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control form-control-sm" id="no_proforma" name="no_proforma" autocomplete="off" value="<%=data[0].no_proforma%>">
                                </div>
                            </div>
                            <div class="form-group row mb-3" id="view_service_type">
                                <label for="name_company" class="col-sm-4 col-form-label">Service Type</label>
                                <div class="col-sm-7">
                                    <select class="js-example-placeholder-single js-states form-control form-control-sm" id="service_type" name="service_type">
                                        <option></option>
                                        <option value="1">PETIKEMAS</option>
                                        <option value="2">OTHER</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-3 file-Pinv">
                                <label for="file_pInvoice" class="col-sm-4 col-form-label">Upload File Proforma Invoice *</label>
                                <div class="col-sm-7">
                                    <input type="file" class="form-control-file" id="file_pInvoice" name="file_pInvoice" accept="application/pdf">
                                    <p style="font-size: small;">(Accepted File Type : PDF, Max Size 2MB)</p>
                                </div>
                            </div>
                            <div class="form-group row mb-3 file-inv">
                                <label for="upload_invoice" class="col-sm-4 col-form-label">Upload File Invoice *</label>
                                <div class="col-sm-7">
                                    <input type="file" class="form-control-file" id="upload_invoice" name="upload_invoice" accept="application/pdf">
                                    <p style="font-size: small;">(Accepted File Type : PDF, Max Size 2MB)</p>
                                </div>
                            </div>
                            <div class="form-group row mb-3 file-do">
                                <label for="upload_fDO" class="col-sm-4 col-form-label">Upload File DO *</label>
                                <div class="col-sm-7">
                                    <input type="file" class="form-control-file" id="upload_fDO" name="upload_fDO" accept="application/pdf">
                                    <p style="font-size: small;">(Accepted File Type : PDF, Max Size 2MB)</p>
                                </div>
                            </div>
                            <div class="form-group row mb-3 file-coreor" id="uploadFileCoreor">
                                <label for="upload_coreor" class="col-sm-4 col-form-label">Upload File Coreor *</label>
                                <div class="col-sm-7">
                                    <input type="file" class="form-control-file" id="upload_coreor" name="upload_coreor">
                                    <p style="font-size: small;">(Accepted File Type : ALL, Max Size 2MB)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
            <!-- View Of Detail Container-->
            <div class="card" style="margin-top: 20px;">
                <div class="card-header" style="background-color: #BC011E;color: white;">
                    <i class="fa fa-file-alt"></i><strong> VIEW OF DETAIL CONTAINER</strong>
                </div>
                <div class="card-body"> 
                    <div class="row mb-3">
                        <button type="button" class="btn btn-success btn-sm" id="addContainer" onclick="add('<%=data[0].req_sl_delivery_id%>')">Add</button>
                        <a class="btn btn-primary btn-sm ml-2" href="/dopayment/request/billpayment">Back</a>
                    </div>
                    <div class="row">
                        <table id="detail_container_del" class="table table-striped table-bordered" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No Container</th>
                                    <th>Tools</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(let i = 0; i < data_container.length; i++){%>
                                    <tr>
                                        <td><%=data_container[i].no_container%></td>
                                        <td>
                                            <%if (data[0].status == 'RQST'){%>
                                            <button type="button" class="btn btn-warning btn-sm" onclick="edit('<%=data_container[i].id%>', '<%=data_container[i].delivery_id%>','<%=data_container[i].no_container%>')">Edit</button> 
                                            <button type="button" class="btn btn-danger btn-sm"onclick="delete_cont('<%=data_container[i].id%>')">Delete</button></td>
                                            <%}else{%>
                                            <button type="button" class="btn btn-warning btn-sm" disabled>Edit</button> 
                                            <button type="button" class="btn btn-danger btn-sm"disabled>Delete</button></td>
                                            <%}%> 
                                    </tr>
                                <%}%>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                <!-- View Of Detail Files-->
            <div class="card" style="margin-top: 20px;">
                <div class="card-header" style="background-color: #BC011E;color: white;">
                    <i class="fa fa-file-alt"></i><strong> VIEW OF DETAIL FILES</strong>
                </div>
                <div class="card-body"> 
                    <table id="detail_files" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Tools</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%for(let i = 0; i < data_files.length; i++){%>
                                <tr>
                                    <td><%=data_files[i].file_name%></td>
                                    <!-- <td><button type="button" class="btn btn-danger btn-sm" onclick="Download('<%=data_files[i].id%>')">Download</button></td> -->
                                    <td><a class="btn btn-danger btn-sm" href="/file/<%=data_files[i].file_name%>" target="_blank">Download</a></td>
                                </tr>
                            <%}%>
                        </tbody>
                    </table>  
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Add Container-->
<div class="modal fade" id="modal-add-bill" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Container</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action='' method="POST" id="add_container_bill" enctype="multipart/form-data">
                    <input type="hidden" name="id_req_bill" id="id_req_bill">
                    <div id="div-container-req-bill">
                        <div class="form-group row">
                            <label for="ForContainer" class="col-sm-4 col-form-label">No. Container</label>
                            <div class="col-sm-6">
                                <input type="text" name="cont_no_bill" class="form-control col-form-label-sm" id="no_container_bill" placeholder="No Container">
                            </div>
                            <div class="col-sm-1">
                                <button id="btnAddContainer_req" type="button" class="btn btn-primary btn-sm">Add</button>
                            </div>
                            <div class="col-sm-2">
                                <input type="hidden" id="count_req_bill" name="count_req_bill" value="1">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submit_add()" >Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
    </div>
</div>

<!-- Modal Edit Container-->
<div class="modal fade" id="modal-edit-bill" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit Container</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action='' method="POST" id="edit_container">
                    <input type="hidden" name="id_bill" id="id_bill">
                    <input type="hidden" name="delivery_id_bill" id="delivery_id_bill">
                    <div id="div-container-req-bill">
                        <div class="form-group row">
                            <label for="ForContainer" class="col-sm-4 col-form-label">No. Container</label>
                            <div class="col-sm-6">
                                <input type="hidden" name="container_before_bill" id="container_before_bill">
                                <input type="text" name="container_after_bill" class="form-control col-form-label-sm" id="container_after_bill">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="submit_edit()" >Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
    </div>
</div>

<!-- Modal Reject DO-->
<div class="modal fade" id="modal-reject-bill" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reject Request DO</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p style="font-size: 15px;">Anda yakin akan melakukan "REJECT" pada request DO tersebut ?</p>
                <form action='' method="POST" id="edt_rjt">
                    <input type="hidden" name="id_rjtbill_edit" id="id_rjtbill_edit">
                    <div id="div-reject-req">
                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">BL Number</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" name="rjtblnumberbill" id="rjtblnumberbill" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="" class="col-sm-4 col-form-label">Cargo Owner</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" name="rjtcargonumbill" id="rjtcargonumbill" readonly>
                            </div>
                        </div>

                        <div class="form-group row mb-3">
                            <label for="" class="col-sm-4 col-form-label">Freight Forwarder</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" name="rjtffbill" id="rjtffbill" readonly>
                            </div>
                        </div>

                        <p style="font-size: 15px;">Silahkan isi alasan REJECT dan klik "Yes" untuk melanjutkan proses atau "No" untuk cancel.</p>

                        <div class="form-group row mb-3">
                            <label for="" class="col-sm-4 col-form-label">Keterangan Reject</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control form-control-sm" name="ketrjtbill" id="ketrjtbill">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" onclick="sumbit_reject()" >Yes</button>
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">No</button>
            </div>
        </form>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>

<script>
    $(document).ready(function() {
        $("#amount").inputmask({
            'alias': 'decimal',
            rightAlign: true,
            'groupSeparator': '.',
            'autoGroup': true
        });
        $("#warramount").inputmask({
            'alias': 'decimal',
            rightAlign: true,
            'groupSeparator': '.',
            'autoGroup': true
        });
    });

    var table=null;
    var statusDo = $('#status_do').val();
    var payment = '<%=data[0].tag%>';
    var mindate = '<%=data[0].create_date%>';

    if(payment === '2'){
        $('#payment').val('Direct Payment');
        $('.file-do').hide();
        $('.file-inv').hide();
        $('.file-coreor').hide()
        $("#service_type").select2({             
            placeholder: "-- Choose Service --"
        });
    }
    if(payment === '4'){
        $('#payment').val('Credit');
        $('.file-Pinv').hide(); 
        $('#view_service_type').hide();
        $('#view_no_proforma').hide();
    }
    if(statusDo === 'PNDG'){
        $('#addContainer').prop('disabled', true);
        $('#rejectDO').hide();
        $('#approveDO').hide();
        $('#editCont').prop('disabled',true);
        $('#delCont').prop('disabled', true);
        $('#expDO').prop('disabled', true);
        $('#date_issue_bl').prop('disabled', true);
    }else if(statusDo === 'RJCT'){
        $('#addContainer').prop('disabled', true);
        $('#rejectDO').hide();
        $('#approveDO').hide();
        $('#editCont').prop('disabled',true);
        $('#delCont').prop('disabled', true);
        $('#expDO').prop('disabled', true);
        $('#date_issue_bl').prop('disabled', true);
    }else if(statusDo === 'RQST'){
        $('#addContainer').prop('disabled', false);
        $('#rejectDO').show();
        $('#approveDO').show();
        $('#editCont').prop('disabled',false);
        $('#delCont').prop('disabled', false);
        if(payment === '4'){
            $('#expDO').prop('disabled', false);
            $('#date_issue_bl').prop('disabled', false);
        } else {
            $('#expDO').prop('disabled', true);
            $('#date_issue_bl').prop('disabled', true);
        }
    }else if(statusDo === 'RJCS'){
        $('#addContainer').prop('disabled', true);
        $('#rejectDO').hide();
        $('#approveDO').hide();
        $('#editCont').prop('disabled',true);
        $('#delCont').prop('disabled', true);
        $('#expDO').prop('disabled', true);
        $('#date_issue_bl').prop('disabled', true);
    }else if(statusDo === 'CLSE'){
        $('#addContainer').prop('disabled', true);
        $('#rejectDO').hide();
        $('#approveDO').hide();
        $('#editCont').prop('disabled',true);
        $('#delCont').prop('disabled', true);
        $('#expDO').prop('disabled', true);
        $('#date_issue_bl').prop('disabled', true);
    }else if(statusDo === 'BILL'){
        $('#addContainer').prop('disabled', true);
        $('#rejectDO').hide();
        $('#approveDO').hide();
        $('#editCont').prop('disabled',true);
        $('#delCont').prop('disabled', true);
        $('#expDO').prop('disabled', true);
        $('#date_issue_bl').prop('disabled', true);
    } else if (statusDo === 'PAID') {
        if(payment === '2'){
            $('.file-do').show();
            $('.file-inv').show();
            $('.file-coreor').show();
        }
        $('#expDO').prop('disabled', false);
        $('#date_issue_bl').prop('disabled', false);
    }

    function Download(id) {
            var url = '/dopayment/request/billoflading_download';
            var postFormStr = "<form class='form-horizontal' method='post' action='" + url + "' target='_blank'>\n";
            postFormStr += "<input type='hidden' name='id' value='" + id + "'></input>";
            postFormStr += "<input type='hidden' name='action' value='view'></input>";
            postFormStr += "</form>";
            var formElement = $(postFormStr);
            $('body').append(formElement);
            $(formElement).submit();
    }
    function add(req_sl_id){
        $('#modal-add-bill').modal('show');
        $('#id_req_bill').val(req_sl_id);
    }
    function edit(id, delivery_id, no_container){
        console.log(no_container);
        console.log(id);
        $('#modal-edit-bill').modal('show');
        $('#id_bill').val(id);
        $('#delivery_id_bill').val(delivery_id);
        $('#container_before_bill').val(no_container);
        $('#container_after_bill').val(no_container);
    }
    $("#btnAddContainer_req").click(function () {
            var count = parseInt($('#count_req_bill').val());
            var input_cont = '<div class="form-group row req" id="div-row-cont-bill-'+count+'">'+
                    '<label for="ForContainer" class="col-sm-4 col-form-label">No. Container</label>'+
                    '<div class="col-sm-6">'+
                        '<input type="text" name="cont_no_bill'+count+'" class="form-control col-form-label-sm" id="no_container_add_bill-'+count+'" placeholder="No Container">'+
                    '</div>'+
                    '<div class="col-sm-1">'+
                        '<button id="btnDeleteContainer" type="button" class="btn btn-danger btn-sm" onclick=\'removeRow_container_req_bill("'+count+'")\'>Delete</button>'+
                    '</div>'+
                    '</div>';
            $('#div-container-req-bill').append(input_cont);
            $('#count_req_bill').val(count+1);

            // declaration install input filter only text and number
            var id_container_new = 'no_container_add_bill-'+count;
            
            setInputFilter(document.getElementById(id_container_new), function(value) {
                return /^[0-9a-z]*$/i.test(value);
            });
        
    });
    function removeRow_container_req_bill(id){
        swal({
            title: "Are you sure?",
            text: "Your will delete this container number!",
            type: "warning",
            showCancelButton: true,
            confirmButtonClass: "btn-danger",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
            },
            function(){
            swal("Deleted!", "Your Container Number has been deleted.", "success");
            $('#div-row-cont-bill-'+id).remove();
        });
        var cd = parseInt($('#count_req_bill').val());
        $('#count_req_bill').val(cd-1);
    }
    function submit_add(){
        swal({
            title: "Add Container",
            text: "Submit to Add Container",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
            }, function () {
        $.ajax({
        type: "POST",
        url: "/dopayment/request/billpayment_add_container",
        dataType: "json",
        data: $( "#add_container_bill" ).serialize(),
        cache: false,
        success: function(result){
            console.log('result '+result.status);
            if(result.status == 'S'){
                setTimeout(function () {
                    swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                        function(){ 
                            location.reload();
                        }
                    );
                }, 3000);
                    
            }else{
                setTimeout(function () {
                        swal({title: "Failed", text: "Something Wrong", type: "error"},
                            function(){ 
                                location.reload();
                            }
                        );
                    }, 3000);
            }
        }
        });
      });
    
    }
    function submit_edit(){
       var id = $('#id_bill').val();
       var delivery_id= $('#delivery_id_bill').val();
       var container_before = $('#container_before_bill').val();
       var container_after = $('#container_after_bill').val();
        swal({
            title: "Edit Container Number",
            text: "Submit to Edit Container Number",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
            }, function () {
        $.ajax({
        type: "POST",
        url: "/dopayment/request/billoflading_edit_container",
        dataType: "json",
        data: {id: id, delivery_id: delivery_id, container_before: container_before, container_after: container_after},
        cache: false,
        success: function(result){
            console.log('result '+result.message);
            if(result.status == 'S'){
                    setTimeout(function () {
                        swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                            function(){ 
                                location.reload();
                            }
                        );
                    }, 3000);
                    
            }else{
                setTimeout(function () {
                    swal({title: "Done", text: "'"+result.message+"'", type: "error"},
                        function(){ 
                            location.reload();
                        }
                    );
                }, 3000);
        }
    }
        });
      });
    }
    function delete_cont(id){
        swal({
            title: "Delete Container",
            text: "Submit to Delete Container",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
            }, function () {
        $.ajax({
        type: "POST",
        url: "/dopayment/request/billpayment_del_container",
        dataType: "json",
        data: {id:id},
        cache: false,
        success: function(result){         
            if(result.status == 'S'){
                setTimeout(function () {
                    swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                        function(){ 
                            location.reload();
                        }
                    );
                }, 3000);
            }else{
                setTimeout(function () {
                        swal({title: "Failed", text: "Something wrong", type: "error"},
                            function(){ 
                                location.reload();
                            }
                        );
                    }, 3000);
            }
        
        }
      });
    });
    };
    $('#modal-add-bill').on('hidden.bs.modal', function () {
        $('.conf').remove();
        $('.input').val('');
    });
    // $('.expire-date').datepicker({
    //     format: "dd-mm-yyyy",
    //     autoclose: true
    // });
    $('.date_issue_bl').datepicker({
        format: "dd-mm-yyyy",
        autoclose: true
    });

    $('#expDO').datepicker({
        format: "dd-mm-yyyy",
        autoclose: true
    });
    $('#date_issue_bl').datepicker({
        format: "dd-mm-yyyy",
        autoclose: true
    });

    function reject(id,blnum,comp_name,ffname2){
        $('#modal-reject-bill').modal('show');
        $('#id_rjtbill_edit').val(id);
        $('#rjtblnumberbill').val(blnum);
        $('#rjtcargonumbill').val(comp_name);
        $('#rjtffbill').val(ffname2);
    }

    function approve(){
        if (payment === '2') {
            if($('#file_pInvoice').val() == ''){
                swal("Upload Proforma Invoice File cannot be empty");
                return false;
            } else {
                var file_proforma = document.getElementById("file_pInvoice");
                if (file_proforma.files.length != 0) {
                    var FileSizeProforma = file_proforma.files[0].size / 1024 / 1024; // in MB
                    console.log(FileSizeProforma);
                    if (FileSizeProforma > 2) {
                        swal("File Proforma size exceeds 2 MB");
                        return false;
                    }
                }
            }
        } 
        if (payment === '4') {
            if($('#upload_invoice').val() == ''){
                swal("Upload File Invoce tidak boleh kosong");
                return false;
            } else {
                var file_invoice = document.getElementById("upload_invoice");
                if (file_invoice.files.length != 0) {
                    var FileSizeInvoice = file_invoice.files[0].size / 1024 / 1024; // in MB
                    console.log(FileSizeInvoice);
                    if (FileSizeInvoice > 2) {
                        swal("File Invoice size exceeds 2 MB");
                        return false;
                    }
                }
            }

            if($('#upload_fDO').val() == ''){
                swal("Upload File DO tidak boleh kosong");
                return false;
            } else {
                var file_do = document.getElementById("upload_fDO");
                if (file_do.files.length != 0) {
                    var FileSizeDo = file_do.files[0].size / 1024 / 1024; // in MB
                    console.log(FileSizeDo);
                    if (FileSizeDo > 2) {
                        swal("File DO size exceeds 2 MB");
                        return false;
                    }
                }
            }

            if($('#upload_coreor').val() == ''){
                swal("Upload File Coreor tidak boleh kosong");
                return false;
            } else {
                var file_coreor = document.getElementById("upload_coreor");
                if (file_coreor.files.length != 0) {
                    var FileSizeCoreor = file_coreor.files[0].size / 1024 / 1024; // in MB
                    console.log(FileSizeCoreor);
                    if (FileSizeCoreor > 2) {
                        swal("File Coreor size exceeds 2 MB");
                        return false;
                    }
                }
            }

            var mindates = '<%=data[0].create_date%>';
            mindates = moment(mindates, 'DD-MM-YYYY').format('YYYY-MM-DD');
            var date_exp =  new Date(moment($('#expDO').val(), 'DD-MM-YYYY').format('YYYY-MM-DD'));
            var min_date_exp =  new Date(mindates);
            console.log(date_exp.getTime() + ' vs ' +  min_date_exp.getTime())

            if ($('#expDO').val() == '') {
                swal("Expired DO is required");
                return false;
            } else if(date_exp.getTime() <=  min_date_exp.getTime()){
                swal("Expire Date tidak boleh lebih kecil atau sama dengan tanggal " + mindates);
                return false;
            } 
            if ($('#date_issue_bl').val() == '') {
                swal("Date Issue BL is required");
                return false;
            }
        }

        if ($('#amount').val() == '') {
            swal("Amount is required !");
            return false;
        } else if ($('#warramount').val() == '') {
            swal("Waranty amount is required");
            return false;
        // } else if ($('#expDO').val() == '') {
        //     swal("Expired DO is required");
        //     return false;
        // } else if($('#expDO').val() <=  mindate){
        //     swal("Expire Date tidak boleh lebih kecil atau sama dengan tanggal " + mindate);
        //     return false;
        } else {
            swal({
            title: "Approve Delivery Order",
            text: "Submit to Approve Delivery Order",
            type: "info",
            showCancelButton: true,
            closeOnConfirm: false,
            showLoaderOnConfirm: true
            }, function () {
                document.getElementById("form-view").submit();
                // $.ajax({
                // type: "POST",
                // url: "/dopayment/request/billpayment_approveDO",
                // // dataType: "json",
                // data: $( "#form-view" ).serialize(),
                // cache: false,
                //     success: function(result){         
                //         if(result.status == 'S'){
                //             setTimeout(function () {
                //                 swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                //                     function(){ 
                //                         window.location.href = "/dopayment/request/billpayment";
                //                     }
                //                 );
                //             }, 3000);
                //         }else{
                //             setTimeout(function () {
                //                     swal({title: "Failed", text: "Something wrong", type: "error"},
                //                         function(){ 
                //                             location.reload();
                //                         }
                //                     );
                //                 }, 3000);
                //         }
                //     }
                // });
            });
        }
    }
    function sumbit_reject(){
        var id_req = $('#id_rjtbill_edit').val();
        var ket = $('#ketrjtbill').val();

        if(ket === ''){
            swal('Keterangan Reject tidak boleh kosong');
            return false;
        }
        
        $.ajax({
        type: "POST",
        url: "/dopayment/requests/billpayment_rejectDO",
        dataType: "json",
        data: { 
                id:id_req,
                ket:ket
              },
        cache: false,
            success: function(result){         
                if(result.status == 'S'){
                    setTimeout(function () {
                        swal({title: "Done", text: "'"+result.message+"'", type: "success"},
                            function(){ 
                                window.location.href = "/dopayment/request/billpayment";
                            }
                        );
                    }, 3000);
                }else{
                    setTimeout(function () {
                            swal({title: "Failed", text: "Something wrong", type: "error"},
                                function(){ 
                                    location.reload();
                                }
                            );
                        }, 3000);
                }
            }
        });
    }

    // function install input filter only text and number
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
            textbox.addEventListener(event, function() {
            if (inputFilter(this.value)) {
                this.oldValue = this.value;
                this.oldSelectionStart = this.selectionStart;
                this.oldSelectionEnd = this.selectionEnd;
            } else if (this.hasOwnProperty("oldValue")) {
                this.value = this.oldValue;
                this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
            } else {
                this.value = "";
            }
            });
        });
    }

    // declaration install input filter only text and number
    setInputFilter(document.getElementById("container_after_bill"), function(value) {
        return /^[0-9a-z]*$/i.test(value);
    });
    setInputFilter(document.getElementById("no_container_bill"), function(value) {
        return /^[0-9a-z]*$/i.test(value);
    });
</script>