<div class="container-fluid cont-content">
    <div class="row">
        <div class="col-sm-12">
            <div style="margin-top: 40px;">
                <h6 style="color: #BC011E">Describe the problem you're having</h6>    
            </div>

            <div>
                <input id="header_message" type="text" style="width: 50%;"></input>
            </div>

            <div style="margin-top: 40px;">
                <h6 style="color: #BC011E">Give us the detail</h6>    
            </div>

            <div>
                <textarea id="detail_message" rows="10" style="width: 50%;"></textarea>
            </div>

            <div style="margin-top: 40px;">
                <button onclick="send_email()" type="button" class="btn btn-danger">Email US</button>
            </div>

        </div>
    </div>
</div>

<script>

function send_email(){
    console.log("click send")
    var header_message = $('#header_message').val();
    var detail_message = $('#detail_message').val();
    console.log(header_message);
    console.log(detail_message);
    if (header_message == '') {
        swal({title: "Oops...", text: 'Please fill in the column Describe the problem you are having', type: 'error'});
    } else if (detail_message == '') {
        swal({title: "Oops...", text: 'Please fill in the column Give us the detail', type: 'error'});
    } else {
        var email = '<%=process.env['EMAIL_FORWARD']%>';
        console.log('email ' + email);
        window.open("mailto:"+email+"?subject="+header_message+"&body="+detail_message);
        window.location.href = "/dopayment/support/form";

        // swal({
        //     title: "Send Email",
        //     text: "Submit to Send your email",
        //     type: "info",
        //     showCancelButton: true,
        //     closeOnConfirm: false,
        //     showLoaderOnConfirm: true
        //     }, function () {
        //         $.ajax({
        //         type: "POST",
        //         url: "/dopayment/support/sendMessage",
        //         dataType: "json",
        //         data: {
        //             header_message: header_message,
        //             detail_message: detail_message
        //         },
        //         cache: false,
        //             success: function(result) {
        //                 console.log(result);
        //                 if (result.status == 'true') {
        //                     swal({title: "Success", text: "Send Email Success", type: "success"},
        //                         function(){ 
        //                             window.location.href = "/dopayment/support/form";
        //                         }
        //                     );
        //                 } else {
        //                     swal({title: "Failed", text: "Send Email Failed", type: "error"},
        //                         function(){ 
        //                             window.location.href = "/dopayment/support/form";
        //                         }
        //                     );
        //                 }
        //             }
        //         });
        //     });
    }        
}

</script>