<div class="container-fluid cont-content">
    <div class="row">
        <div class="col-sm-12">
            <div style="margin-top: 40px;">
                <h6 style="color: #BC011E">Help</h6>    
            </div>

        </div>
    </div>
</div>